<!-- views/partials/header.ejs -->



<header>
<div class="row">

  <div class="col-sm-3"></div>
  <div class="col-sm-2" id="homeTitle">
    <img src="images/logo.jpeg" class="img w-25" alt="La mia guida di Brescia">
  </div>
  <div class="col-sm-6">
    <h1 id="homeTitle">La mia guida di Brescia</h1>
  </div>
  <div class="col-sm-1"></div>
  
</div>

<div class="row">
    <div class="col-sm">
      <nav class="nav nav-masthead justify-content-center">
      
      <% if (navlink == "home") { %>
          <a class="nav-link active" aria-current="page" href="/"><%= structure.navbar.homepage[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/"><%= structure.navbar.homepage[lang] %></a>
      <% } %>
      
      <% if (navlink == "guidaperte") { %>
          <a class="nav-link active" aria-current="page" href="/games"><%= structure.navbar.page1[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/guidaperte"><%= structure.navbar.page1[lang] %></a>
      <% } %>
      
      <% if (navlink == "calendario") { %>
          <a class="nav-link active" aria-current="page" href="/calendario"><%= structure.navbar.page2[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/calendario"><%= structure.navbar.page2[lang] %></a>
      <% } %>
      
      <% if (navlink == "itinerari") { %>
          <a class="nav-link active" aria-current="page" href="/itinerari"><%= structure.navbar.page3[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/itinerari"><%= structure.navbar.page3[lang] %></a>
      <% } %>
    
      <% if (navlink == "evidenza") { %>
          <a class="nav-link active" aria-current="page" href="/evidenza"><%= structure.navbar.page4[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/evidenza"><%= structure.navbar.page4[lang] %></a>
      <% } %>
      
      <% if (navlink == "regalavisita") { %>
          <a class="nav-link active" aria-current="page" href="/regalavisita"><%= structure.navbar.page5[lang] %></a>
      <%} else { %>
          <a class="nav-link" href="/regalavisita"><%= structure.navbar.page5[lang] %></a>
      <% } %>
      
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> <i class="fas fa-globe"></i> <%= structure.navbar.page6[lang] %></a>
      <ul class="dropdown-menu btn-transparent">
        <li><button class="btn btn-sm btn-secondary fw-bold border-white bg-white my-1" type="button" onclick="setLanguage('IT')">Italiano</button></li>
        <li><button class="btn btn-sm btn-secondary fw-bold border-white bg-white my-1" type="button" onclick="setLanguage('ES')">Español</button></li>
        <li><button class="btn btn-sm btn-secondary fw-bold border-white bg-white my-1" type="button" onclick="setLanguage('PT')">Português</button></li>
      </ul>
        
      </nav>
    </div> <!-- /column -->
</div> <!-- /row -->
</header>

<script>
function setLanguage(lang) {
  let myCookie = "language="+lang;
  console.log(myCookie);
  document.cookie = myCookie;
  location.reload();
  return false;
}
</script>
