<!-- views/partials/header.ejs -->


<header>

<!-- Logo row -->
<div class="row justify-content-center">
  <div class="col"></div>
  <div class="col-10"><img src="images/logoNewRecoloredCroppedTextReduced3.png" class="d-block w-100 img-fluid img-custom img-rounded" alt="La mia guida di Brescia"></div>
  <div class="col"></div>
</div>                                                                            -->


<!-- Navbar row -->
<div class="row">
  <nav class="navbar navbar-collapse"> 
    <div class="col"></div>
    <!-- columns for centered navbar -->
    <div class="col-8 justify-content-center">
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav rounded-4 justify-content-left">                  
          <% var structureNoLang = structure.navbar; %>
          <% var structureLang = structure.navbar["/lingua"]; %>
          <% delete structureNoLang["/lingua"]; %>
          <% for (var page in structureNoLang) { %>
          <li class="nav-item me-auto px-2">
            <% if (navlink == page) { %>
            <a class="nav-link customActive ms-auto" aria-current="page" href=<%- page %>><i class="px-3 fas fa-<%- structureNoLang[page]["icon"] %>"></i><%- structureNoLang[page]["menu"][lang] %></a>
            <%} else { %>
            <a class="nav-link" aria-current="page" href=<%- page %>><i class="px-3 fas fa-<%- structureNoLang[page]["icon"] %>"></i><%- structureNoLang[page]["menu"][lang] %></a>
            <% } %>
          </li>
          <% } %>
          <!-- language chooser dropdown -->
          <li class="nav-item me-auto px-2">
            <div class="dropdown-center">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="px-3 fas fa-globe"></i></a>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" onclick="setLanguage('IT')">Italiano</button></li>
                <li><button class="dropdown-item" type="button" onclick="setLanguage('ES')">Español</button></li>
                <li><button class="dropdown-item" type="button" onclick="setLanguage('PT')">Português</button></li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>

    
    <div class="col">
        <a class="navbar-brand float-end" href="#"></a>
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon float-end"></span>
        </button>
    </div>
      
  </nav>
</div>







</header>

<script>
function setLanguage(lang) {
  let myCookie = "language="+lang;
  // console.log(myCookie);
  document.cookie = myCookie;
  //location.assign("/");
  location.reload();
  return false;
}
</script>
