<!-- views/calendario.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  
  <div class="col0">
    <h1 class="homeTitle"><%= structure.content.title2[lang][0] %></h1>
    <br>
      <h3 class="smallFont"><%= structure.content.page2[lang][0] %></h3>
            
      <br>
      
      <p>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJan" aria-expanded="false" aria-controls="collapseJan">Gennaio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseFeb" aria-expanded="false" aria-controls="collapseFeb">Febbraio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMar" aria-expanded="false" aria-controls="collapseMar">Marzo</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseApr" aria-expanded="false" aria-controls="collapseApr">Aprile</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMay" aria-expanded="false" aria-controls="collapseMay">Maggio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJun" aria-expanded="false" aria-controls="collapseJun">Giugno</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJul" aria-expanded="false" aria-controls="collapseJul">Luglio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseAug" aria-expanded="false" aria-controls="collapseAug">Agosto</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseSep" aria-expanded="false" aria-controls="collapseSep">Settembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseOct" aria-expanded="false" aria-controls="collapseOct">Ottobre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseNov" aria-expanded="false" aria-controls="collapseNov">Novembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseDec" aria-expanded="false" aria-controls="collapseDec">Dicembre</button>
      </p>
      
  </div>
  
  <div class="col"></div>
</div>

<!-- January row -->
<div class="row my-5 justify-content-center collapse" id="collapseJan">
  
  <div class="col card card-custom p-3 mx-5">
    <h5 class="card-header">Gennaio</h5>
    <div class="card-body p-3">
    <h3 class="card-title">Finchè non saremo libere</h3>
    <h6 class="card-subtitle text-muted mt-5">20/01</h6>
    <h6 class="card-subtitle text-muted">h 20:30</h6>
    <h6 class="card-subtitle text-muted">mostra di Santa Lucia</h6>
    <p class="card-text mt-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>
    
  <div class="col card card-custom p-3 mx-5">
    <h5 class="card-header">Gennaio</h5>
    <div class="card-body p-3">
    <h3 class="card-title">Finchè non saremo libere</h3>
    <h6 class="card-subtitle text-muted mt-5">27/01</h6>
    <h6 class="card-subtitle text-muted">h 15:30</h6>
    <h6 class="card-subtitle text-muted">mostra di Santa Lucia</h6>
    <p class="card-text mt-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>

</div>

<!-- February row -->
<div class="row my-5 justify-content-center collapse" id="collapseFeb">
  
  <div class="col card card-custom p-3 mx-5">
    <h5 class="card-header">Febbraio</h5>
    <div class="card-body p-3">
    <h3 class="card-title">I luoghi dell'amore</h3>
    <h6 class="card-subtitle text-muted mt-5">xx/02</h6>
    <h6 class="card-subtitle text-muted">h x:xx</h6>
    <h6 class="card-subtitle text-muted">mostra di ...</h6>
    <p class="card-text mt-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>
  
  <div class="col card card-custom p-3 mx-5">
    <h5 class="card-header">Febbraio</h5>
    <div class="card-body p-3">
    <h3 class="card-title">I luoghi dell'amore</h3>
    <h6 class="card-subtitle text-muted mt-5">xx/02</h6>
    <h6 class="card-subtitle text-muted">h xx:xx</h6>
    <h6 class="card-subtitle text-muted">mostra di ...</h6>
    <p class="card-text mt-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>

</div>

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>


<script>
let d = new Date();
let month = d.getMonth() + 1;
// console.log(month);
</script>
