<!-- views/calendario.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  <div class="col-10">
    <h1 class="homeTitle">Calendario</h1>
    <br>
      <h3 class="smallFont">Organizzo tour con piccoli gruppi per scoprire, divertendosi,</h3>
      <h3 class="smallFont">particolari inediti della città. A partire da aneddoti curiosi,</h3> 
      <h3 class="smallFont">ma anche dalla storia ufficiale che cerco di narrare in maniera coinvolgente,</h3> 
      <h3 class="smallFont">per scoprire l’evoluzione della nostra città</h3>
      <br>
      
      <p>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJan" aria-expanded="false" aria-controls="collapseJan">Gennaio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseFeb" aria-expanded="false" aria-controls="collapseFeb">Febbraio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMar" aria-expanded="false" aria-controls="collapseMar">Marzo</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseApr" aria-expanded="false" aria-controls="collapseApr">Aprile</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMay" aria-expanded="false" aria-controls="collapseMay">Maggio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJun" aria-expanded="false" aria-controls="collapseJun">Giugno</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJul" aria-expanded="false" aria-controls="collapseJul">Luglio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseAug" aria-expanded="false" aria-controls="collapseAug">Agosto</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseSep" aria-expanded="false" aria-controls="collapseSep">Settembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseOct" aria-expanded="false" aria-controls="collapseOct">Ottobre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseNov" aria-expanded="false" aria-controls="collapseNov">Novembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseDec" aria-expanded="false" aria-controls="collapseDec">Dicembre</button>
      </p>
      
  </div>
  
  <div class="col"></div>
</div>

<!-- January row -->
<div class="row my-5 justify-content-center collapse" id="collapseJan">
</div> <!-- Jan row -->

<!-- February row -->
<div class="row my-5 justify-content-center collapse" id="collapseFeb">
</div> <!-- Feb row -->

<!-- March row -->
<div class="row my-5 justify-content-center collapse" id="collapseMar">
  
  <div class="row card card-custom p-3 m-5">
    <h3 class="card-title">Donne Bresciane e la Resistenza</h3>
    <h6 class="card-header">Sabato 02/03</h6>
    <h6 class="card-header">ore 15:00</h6>
    <h6 class="card-header">Piazza Moretto</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">percorso sui luoghi delle donne bresciane che hanno vissuto la Resistenza in collaborazione con la sezione ANPI</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>
  
  <div class="row card card-custom p-3 m-5">
    <h3 class="card-title">Le X Giornate di Brescia</h3>
    <h6 class="card-header">Sabato 23/03</h6>
    <h6 class="card-header">ore 15:00</h6>
    <h6 class="card-header">Museo del Risorgimento</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Mi piacerebbe portarvi a scoprire il Museo del Risorgimento proprio in concomitanza con le X giornate di Brescia</p>
    <a href="#" class="btn btn btn-sm btn-custom">Contattami per saperne di più</a>
    </div>
  </div>

</div> <!-- Mar row -->

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>


<script>
let d = new Date();
let month = d.getMonth() + 1;
// console.log(month);
</script>
