<!-- views/calendario.ejs -->

<%- include('partials/head'); %>
<title>Il calendario degli eventi - Maddalena Carnaghi - la mia guida di Brescia</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<title>Il calendario degli eventi - Maddalena Carnaghi - la mia guida di Brescia</title>

<!-- Main row -->
<div class="row my-2 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Calendario</h1>
      <h3 class="smallFont">Organizzo tour con piccoli gruppi per scoprire, divertendosi, particolari inediti della città. A partire da aneddoti curiosi, ma anche dalla storia ufficiale che cerco di narrare in maniera coinvolgente, per scoprire l’evoluzione della nostra città</h3>
      
  </div>
</div>

<!-- January row -->
<div class="row my-2 justify-content-center collapse" id="collapseJan">
</div> <!-- Jan row -->

<!-- February row -->
<div class="row my-2 justify-content-center collapse" id="collapseFeb">
</div> <!-- Feb row -->

<!-- March row -->
<div class="row my-2 justify-content-center collapse" id="collapseMar">
  
  <h2 class="homeTitle">Marzo</h2>
  
  <div class="row card card-custom1 p-3 m-2">
    <h3 class="card-title">Donne Bresciane e la Resistenza</h3>
    <h6 class="card-header">Sabato 02/03</h6>
    <h6 class="card-header">ore 15:00</h6>
    <h6 class="card-header">Piazza Moretto</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">percorso sui luoghi delle donne bresciane che hanno vissuto la Resistenza in collaborazione con la sezione ANPI</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Donne Bresciane e la Resistenza" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>
  
  <div class="row card card-custom1 p-3 m-2">
    <h3 class="card-title">Le X Giornate di Brescia</h3>
    <h6 class="card-header">Sabato 23/03</h6>
    <h6 class="card-header">ore 15:00</h6>
    <h6 class="card-header">Museo del Risorgimento</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Mi piacerebbe portarvi a scoprire il Museo del Risorgimento proprio in concomitanza con le X giornate di Brescia</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Le X Giornate di Brescia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

</div> <!-- Mar row -->

<!-- April row -->
<div class="row my-2 justify-content-center collapse" id="collapseApr">

  <h2 class="homeTitle">Aprile</h2>
  
  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Per bresciani che vogliono conoscere il Museo di Santa Giulia</h3>
    <h6 class="card-header">Domenica 07/04</h6>
    <h6 class="card-header">ore 16:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Avete mai pensato “tanto è qui vicino al Museo di Santa Giulia ci andrò più avanti”? Volete una visita guidata dei reperti più significativi e appropriarvi del vostro museo? Prenotate entro il 3 aprile</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Museo di Santa Giulia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Sirmione al tramonto</h3>
    <h6 class="card-header">Venerdì 19/04</h6>
    <h6 class="card-header">ore 18:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Sirmione da ricoprire con tour in barca sul far della sera di mezz’ora, passando sotto I ponti, scoprendo le bolle della sorgente termale e vedendo le maestuose rovine delle cosidette “Grotte di Catullo” e poi passeggiata tra le viuzze incantate il tutto condito dalle spiegazioni di una guida abilitata</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Sirmione al tramonto - aprile" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>
  
  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Il Risorgimento ti aspetta</h3>
    <h6 class="card-header">Domenica 20/04</h6>
    <h6 class="card-header">ore 10:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Se non avete ancora visitato il Museo del Risorgimento e volete visitarlo con una guida abilitata, fatevi avanti. Prenotate entro il 10 aprile</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Il Risorgimento ti aspetta" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">I Luoghi della Resistenza a Brescia</h3>
    <h6 class="card-header">Domenica 28/04</h6>
    <h6 class="card-header">ore 18:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Se siete interessati a scoprire dove si riuniva il Comitato di Liberazione Nazionale, dov’era l’ufficio di controspionaggio, dove si nascondevano i partigiani, il ruolo dell’Oratorio della Pace, dove reclutavano le SS e molto altro, venite!</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=I Luoghi della Resistenza a Brescia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>
  
</div> <!-- April row -->

<!-- May row -->
<div class="row my-2 justify-content-center collapse" id="collapseMay">

  <h2 class="homeTitle">Maggio</h2>
  
  <div class="row card card-custom1 p-3 m-2">
    <h3 class="card-title">Sirmione al tramonto</h3>
    <h6 class="card-header">Venerdì 03/05</h6>
    <h6 class="card-header">ore 18:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Sirmione da ricoprire con tour in barca sul far della sera di mezz’ora, passando sotto I ponti, scoprendo le bolle della sorgente termale e vedendo le maestuose rovine delle cosidette “Grotte di Catullo” e poi passeggiata tra le viuzze incantate il tutto condito dalle spiegazioni di una guida abilitata</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Sirmione al tramonto - maggio" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom1 p-3 m-2">
    <h3 class="card-title">Le piazze di Brescia come non le avete mai viste!</h3>
    <h6 class="card-header">Sabato 11/05</h6>
    <h6 class="card-header">ore 18:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Volete conoscere meglio la storia di Brescia percorrendo le piazze con i racconti, gli aneddoti e la storia ufficiale della città?</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Le piazze di Brescia come non le avete mai viste!" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>
  
  
</div> <!-- May row -->

<!-- June row -->
<div class="row my-2 justify-content-center collapse" id="collapseJun">

  <h2 class="homeTitle">Giugno</h2>
  
  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Le donne che hanno fatto la Resistenza a Brescia</h3>
    <h6 class="card-header">tra il 15 e il 22 giugno</h6>
    <h6 class="card-header">orario serale</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Per conoscere le donne che hanno partecipato alla Resistenza, i luoghi in cui hanno vissuto e operato nel centro di Brescia. In collaborazione con ANPI Piazza Rovetta</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Le donne che hanno fatto la Resistenza a Brescia - giugno" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>
  
</div> <!-- June row -->

<!-- July row -->
<div class="row my-2 justify-content-center collapse" id="collapseJul">
</div> <!-- July row -->

<!-- August row -->
<div class="row my-2 justify-content-center collapse" id="collapseAug">
</div> <!-- August row -->

<!-- September row -->
<div class="row my-2 justify-content-center" id="collapseSep">

  <h2 class="homeTitle">Settembre</h2>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Per bresciani che vogliono conoscere il Museo di Santa Giulia</h3>
    <h6 class="card-header">Domenica 07/09</h6>
    <h6 class="card-header">ore 10:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Avete mai pensato “tanto è qui vicino il Museo di Santa Giulia ci andrò più avanti”? Volete una visita guidata dei reperti più significativi e appropriarvi del vostro museo? Prenotate entro il 3 aprile</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Museo di Santa Giulia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">"Dentro da questa triplice cerchia di mura, ove tradotto è già in pietre vive quel libro religioso ch'io mi pensai preposto ai riti della patria e dei vincitori latini chiamato Il Vittoriale"</h3>
    <h6 class="card-header">Domenica 15/09</h6>
    <h6 class="card-header">ore 10:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Avete mai colto ogni riferimento, ogni metafora scolpita nei 9 ettari del Giardino del Vittoriale? Volete visitare il parco con una guida abilitata? Prenotate entro il 6 settembre</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Vittoriale" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">La Breccia di Porta Pia</h3>
    <h6 class="card-header">Sabato 21/09</h6>
    <h6 class="card-header">ore 10:00</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Se non avete ancora visitato il Museo del Risorgimento e volete visitarlo con una guida abilitata, è il momento giusto, è l'anniversario della Breccia di Porta Pia 20 settembre 1870. Prenotate entro il 10 settembre</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere la Breccia di Porta Pia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

  <div class="row card card-custom2 p-3 m-2">
    <h3 class="card-title">Brescia Nascosta</h3>
    <h6 class="card-header">Domenica 29/09</h6>
    <h6 class="card-header">ore 14:30</h6>
    <div class="card-body p-2">
    <p class="card-text mt-4">Un tour del centro storico attraverso ricordi e sguardi di persone senza fissa dimora accompagnati da una guida turistica Ritovo alla chiesa del Carmine. Evento gratuito</p>
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere la Brescia Nascosta" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
    </div>
  </div>

</div> <!-- September row -->

<!-- October row -->
<div class="row my-2 justify-content-center collapse" id="collapseOct">
</div> <!-- October row -->

<!-- Novermber row -->
<div class="row my-2 justify-content-center collapse" id="collapseNov">
</div> <!-- November row -->

<!-- December row -->
<div class="row my-2 justify-content-center collapse" id="collapseDec">
</div> <!-- December row -->

<!-- Months row -->
<div class="row my-2 justify-content-center">
  <div class="col">
      <p>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJan" aria-expanded="false" aria-controls="collapseJan">Gennaio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseFeb" aria-expanded="false" aria-controls="collapseFeb">Febbraio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMar" aria-expanded="false" aria-controls="collapseMar">Marzo</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseApr" aria-expanded="false" aria-controls="collapseApr">Aprile</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMay" aria-expanded="false" aria-controls="collapseMay">Maggio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJun" aria-expanded="false" aria-controls="collapseJun">Giugno</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJul" aria-expanded="false" aria-controls="collapseJul">Luglio</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseAug" aria-expanded="false" aria-controls="collapseAug">Agosto</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseSep" aria-expanded="false" aria-controls="collapseSep">Settembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseOct" aria-expanded="false" aria-controls="collapseOct">Ottobre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseNov" aria-expanded="false" aria-controls="collapseNov">Novembre</button>
        <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseDec" aria-expanded="false" aria-controls="collapseDec">Dicembre</button>
      </p>
      
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>


<script>
let d = new Date();
let month = d.getMonth() + 1;
// console.log(month);
</script>
