<!-- views/contatti.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<title>Maddalena Carnaghi - La mia guida di Brescia - Contatti</title>

<div class="row pt-3 pb-5">
  <div class="col">
    <h1 class="homeTitle">Miei contatti</h1>
    <br>
      <h3 class="smallFont"><strong>Contattami!!!</strong></h3>
      <h3 class="smallFont"><i class="px-3 fas fa-mobile-screen"></i>+39 3477667008</h3><br>      
      <h3 class="smallFont"><strong>o scrivimi</strong></h3>
      <h3 class="smallFont"><i class="px-3 fas fa-at"></i>lamiaguidadibrescia@proton.me</h3><br> 
      <h3 class="smallFont"><strong>e non dimenticare di seguirmi</strong></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/la.mia.guida.di.brescia/" target="_blank" rel="noopener noreferrer"><i class="px-3 fa-brands fa-facebook"></i></a>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/la.mia.guida.di.brescia/" target="_blank" rel="noopener noreferrer"><i class="px-3 fa-brands fa-instagram"></i></a>
      <br>
      
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
