<!-- views/evidenza.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">In evidenza</h1>
    <br>
      <h3 class="smallFont">Marzo si apre con la visita guidata dedicata alle donne della Resistenza:</h3>
      <h3 class="smallFont">Il percorso inizia il 2 marzo alle 15.</h3>
      <p class="lead">
        <a href="mailto:lamiaguidadibrescia@proton.me?subject=Donne Bresciane e la Resistenza" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
      </p>

      <h3 class="smallFont">Ho studiato il Museo del Risorgimento perché il 23 marzo ricorre</h3>
      <h3 class="smallFont">L'anniversario delle X Giornate!</h3>
      <p class="lead">
        <a href="mailto:lamiaguidadibrescia@proton.me?subject=Le X Giornate di Brescia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
      </p>      
      
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
