<!-- views/evidenza.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">In evidenza</h1>
    <br>
    
  </div>
</div>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia, l’amore ad ogni angolo</h3>
    <h4 class="homeSubTitle">le storie amorose, non sempre finite bene e le passioni dei bresciani. In collaborazione con Ethical Tenderness</h4>
    <h6><em>Quando:</em> Il percorso inizia il 24 marzo alle 17.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Brescia, l’amore ad ogni angolo" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia ed il Risorgimento</h3>
    <h4 class="homeSubTitle">Il Museo del Risorgimento spiegato ai bresciani durante i giorni delle fatidiche X giornate</h4>
    <h6><em>Quando:</em> Il percorso inizia il 29 marzo alle 15.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Le X Giornate di Brescia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
