<!-- views/evidenza.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<title>Itinerari in evidenza - Maddalena Carnaghi - La mia guida di Brescia</title>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">In evidenza</h1>
    <br>
    
  </div>
</div>

<!-- Main row -->
<div class="row my-5 justify-content-center" id="brescianisantagiulia">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Per bresciani che vogliono conoscere il Museo di Santa Giulia</h3>
    <h4 class="homeSubTitle">Avete mai pensato “tanto è qui vicino al Museo di Santa Giulia ci andrò più avanti”? Volete una visita guidata dei reperti più significativi e appropriarvi del vostro museo? Prenotate entro il 3 aprile</h4>
    <h6><em>Quando:</em> Il percorso inizia domenica 07/04 ore 16.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Museo di Santa Giulia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="sirmionetramonto">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Sirmione al tramonto</h3>
    <h4 class="homeSubTitle">Sirmione da ricoprire con tour in barca sul far della sera di mezz’ora, passando sotto I ponti, scoprendo le bolle della sorgente termale e vedendo le maestuose rovine delle cosidette “Grotte di Catullo” e poi passeggiata tra le viuzze incantate il tutto condito dalle spiegazioni di una guida abilitata</h4>
    <h6><em>Quando:</em> Il percorso inizia venerdì 19/04 ore 18.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Sirmione al tramonto" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="risorgimentoaspetta">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Il Risorgimento ti aspetta</h3>
    <h4 class="homeSubTitle">Se non avete ancora visitato il Museo del Risorgimento e volete visitarlo  con una guida abilitata, fatevi avanti. Prenotate entro il 10 aprile</h4>
    <h6><em>Quando:</em> Il percorso inizia sabato 20/04 ore 10.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Il Risorgimento ti aspetta" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="luoghiresistenzabrescia">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">I Luoghi della Resistenza a Brescia</h3>
    <h4 class="homeSubTitle">Se siete interessati a scoprire dove si riuniva il Comitato di Liberazione Nazionale, dov’era l’ufficio di controspionaggio, dove si nascondevano i partigiani, il ruolo dell’Oratorio della Pace, dove reclutavano le SS e molto altro, venite!</h4>
    <h6><em>Quando:</em> Il percorso inizia domenica 28/04 ore 18.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Il Risorgimento ti aspetta" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
