<!-- views/evidenza.ejs -->

<%- include('partials/head'); %>
<title>Itinerari in evidenza - Maddalena Carnaghi - La mia guida di Brescia</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">In evidenza</h1>
    <br>
    
  </div>
</div>

<!-- Main row -->
<div class="row my-5 justify-content-center" id="brescianisantagiulia">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Per bresciani che vogliono conoscere il Museo di Santa Giulia</h3>
    <h4 class="homeSubTitle">Avete mai pensato “tanto è qui vicino al Museo di Santa Giulia ci andrò più avanti”? Volete una visita guidata dei reperti più significativi e appropriarvi del vostro museo? Prenotate entro il 3 settembre</h4>
    <h6><em>Quando:</em> Il percorso inizia domenica 07/09 ore 10.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Museo di Santa Giulia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="brescianivittoriale">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">"Dentro da questa triplice cerchia di mura, ove tradotto è già in pietre vive quel libro religioso ch'io mi pensai preposto ai riti della patria e dei vincitori latini chiamato Il Vittoriale"</h3>
    <h4 class="homeSubTitle">Avete mai colto ogni riferimento, ogni metafora scolpita nei 9 ettari del Giardino del Vittoriale? Volete visitare il parco con una guida abilitata? Prenotate entro il 6 settembre</h4>
    <h6><em>Quando:</em> Il percorso inizia venerdì 15/09 ore 10.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Per bresciani che vogliono conoscere il Vittoriale" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="portapia">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">La Breccia di Porta Pia</h3>
    <h4 class="homeSubTitle">Se non avete ancora visitato il Museo del Risorgimento e volete visitarlo con una guida abilitata, è il momento giusto, è l'anniversario della Breccia di Porta Pia 20 settembre 1870. Prenotate entro il 10 settembre</h4>
    <h6><em>Quando:</em> Il percorso inizia sabato 21/09 ore 10.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=La Bresccia di Porta Pia" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="brescianascosta">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia Nascosta</h3>
    <h4 class="homeSubTitle">Un tour del centro storico attraverso ricordi e sguardi di persone senza fissa dimora accompagnati da una guida turistica Ritovo alla chiesa del Carmine. Evento gratuito</h4>
    <h6><em>Quando:</em> Il percorso inizia domenica 29/09 ore 14:30.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Il Risorgimento ti aspetta" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
