<!-- views/guidaperte.ejs -->

<%- include('partials/head'); %>
<title>Una guida turistica abilitata di Brescia e del lago di Garda e Iseo per te</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Una guida per te!</h1>
    <img src="images/unaguidaperte.jpg" alt="Maddalena Carnaghi - Guida turistica abilitata di Brescia e del lago di Garda e Iseo - La mia guida di Brescia - una guida per te" title="Maddalena Carnaghi - Guida turistica abilitata di Brescia e del lago di Garda e Iseo - La mia guida di Brescia - una guida per te" class="img-fluid img-custom">
    <br><br>
      <h3 class="smallFont">Mi Chiamo Maddalena, ho vissuto tanti anni all’estero e, da quando sono tornata, ho riscoperto ancora di più la bellezza della mia città, Brescia, e dei suoi meravigliosi laghi: Il Lago di Garda e Il Lago d’Iseo. Sono guida turistica abilitata dal 2011 e, da allora, amo condividere la bellezza, le curiosità, la storia di Brescia con tutti coloro che vengono in visita. Sono laureata in storia dell’arte e sono insegnante di italiano e storia a scuola, per cui le mie guide sono un perfetto mix di interazione, di aneddoti curiosi capaci di rendere le spiegazioni frizzanti. Spesso le persone che accompagno in tour mi dicono che trasmetto una grande passione. In effetti, è un lavoro che amo molto. Soprattutto, mi piace creare itinerari ad hoc per ogni persona e graduare il percorso in base alle esigenze o volontà di chi visita. Si possono fare tanti itinerari diversi: da quelli più turistici, a quelli più curiosi, così come ci si può rivolgere ad esperti d’arte e di storia o bambini. il mio lavoro è proprio quello: trovare la formula giusta per voi!</h3>
      <br>
      <a href="mailto:lamiaguidadibrescia@proton.me?subject=Una guida per te" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
      <br><br>

  </div>
</div>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Io attraverso gli altri</h1>
    <br><br>
      <h3 class="smallFont">Nel mondo romano, l’individuo si definiva nella relazione con l’altro. Era la comunità che riconosceva la persona e la descriveva in base ai rapporti, alla fama e alle sue qualità. 
Questo modo di descriversi funziona ancora per me. Io sono le persone che scelgo per amiche, che stimo e che con orgoglio voglio che siano presenti qui, nella mia pagina, accanto a me. Così come i progetti a cui ho dato origine o a cui ho contribuito e le associazioni, le fondazioni a cui, con consapevolezza, assumo di voler far parte.</h3>
      <br><br>
      
      
      <h2 class="homeSubTitle">Le amiche, gli amici</h2>
      <br>
      <h3 class="smallFont">Riccardo Ajossa – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.riccardoajossa.com" target="_blank" rel="noopener noreferrer">www.riccardoajossa.com</a></h3>
      <br>
      <h3 class="smallFont">Michele Beltrami  – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://ilross9.wixsite.com/michelebeltrami" target="_blank" rel="noopener noreferrer">ilross9.wixsite.com/michelebeltrami</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://youtu.be/NBPFGxtQrmM?si=1RgdM9Wl80sZnxd_" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i></a></h3>
      <br>
      <h3 class="smallFont">Vera Bugatti – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.verabugatti.it" target="_blank" rel="noopener noreferrer">www.verabugatti.it</a></h3>
      <br>
      <h3 class="smallFont">Monica Carrera – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.monicacarrera.it" target="_blank" rel="noopener noreferrer">www.monicacarrera.it</a></h3>
      <br>
      <h3 class="smallFont">Francesca Cecchi  – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.francescachecchi.com" target="_blank" rel="noopener noreferrer">www.francescachecchi.com</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/francesca_checchi_artist?igsh=MW" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont">Francesca Conchieri  – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.ruinascontemporaneas.it/Francesca%20Conchieri/index_francesca.html" target="_blank" rel="noopener noreferrer">http://www.ruinascontemporaneas.it/Francesca%20Conchieri/index_francesca.html</a></h3>
      <br>
      <h3 class="smallFont">Giada Crispiels – Artista e illustratrice</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.giadacrispiels.com" target="_blank" rel="noopener noreferrer">www.giadacrispiels.com</a></h3>
      <br>
      <h3 class="smallFont">Raffaella La Vena – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.raffaellalavena.com" target="_blank" rel="noopener noreferrer">www.raffaellalavena.com</a></h3>
      <br>
      <h3 class="smallFont">Paola Sabatti Bassini - Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.sediacantastorie.eu" target="_blank" rel="noopener noreferrer">www.sediacantastorie.eu</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.oino.it" target="_blank" rel="noopener noreferrer">www.oino.it</a></h3>
      <br>
      <h3 class="smallFont">Carolina Vallejo – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.artelatam.org/carolina-vallejo-3" target="_blank" rel="noopener noreferrer">www.artelatam.org/carolina-vallejo-3</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://instagram.com/carovallejod?igsh=MXV3Nms" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont">Fausta Ranghetti – Operatrice zen shiatsu</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.shiatsueyoga.it" target="_blank" rel="noopener noreferrer">www.shiatsueyoga.it</a></h3>
      <br>
      <h3 class="smallFont">Paola La Serra – Esperta in orientamento scolastico</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://instagram.com/orientamento_scolastico?igsh=d" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont">Sara Monteverdi – Creatrice di cappelli</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/dariacappelli?igs=bnJuZjd1" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/cappellidaria" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont">Maura Lo Presti – Gestora di locanda sull’alto Lago di Garda</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.locandagenzianella.it" target="_blank" rel="noopener noreferrer">www.locandagenzianella.it</a></h3>
      <br>
      <h3 class="smallFont">Davide Pagnano – Gestore di B&B vicino Roma e camminatore</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/momentoroma2020" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont">Tommaso Lunardi – Guida turistica a Lisbona</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://facebook.com/tommaso.lunardi10" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont">Antimio Deinei – Gestore pizzeria e ristorante a Brescia</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="www.lestropizzarestaurant.it" target="_blank" rel="noopener noreferrer">www.lestropizzarestaurant.it</a></h3>
      <br>

      <h2 class="homeSubTitle">Le associazioni e le fondazioni in cui mi rifletto</h2>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer"><img src="images/logo-carme-h100.jpg" alt="Logo CARME"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer">Associazione C.AR.M.E. - Centro Arti Multiculturali Etnosociali</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer">www.carmebrescia.it</a></h3>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer"><img src="images/logo-berardelli-h100c3.jpg" alt="Logo Fondazione Berardelli"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer">Fondazione Berardelli - Fondazione dedicata alla Poesia Visiva</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer">https://fondazioneberardelli.org/home.php</a></h3>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer"><img src="images/logo-perlar-h100.png" alt="Logo Perlar"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer">Associazione Perlar  - Organizzazione che promuove  esperienze di relazione con le persone senza dimora</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer">www.fiopsd.org/perlar</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/associazioneperlar/" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/associazioneperlar/" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
  </div>
</div>




<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
