<!-- views/guidaperte.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<div class="row pt-3 pb-5">
  <div class="col"></div>
  
  <div class="col-sm-10">
    <h1 class="homeTitle"><%= structure.content.title1[lang][0] %></h1>
    <br>
      <h3  class="smallFont"><%= structure.content.page1[lang][0] %></h3>
            
      <br>
      
      <p>
        <button class="btn btn-lg btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Scopri di più
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <h3><%= structure.content.page1[lang][1] %></h3>
      </div>
      
      
  </div>
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
