<!-- views/guidaperte.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  <div class="col-10">
    <h1 class="homeTitle">Una guida per te!</h1>
    <br>
      <h3 class="smallFont">Mi Chiamo Maddalena,</h3>
      <h3 class="smallFont">ho vissuto tanti anni all’estero e,</h3> 
      <h3 class="smallFont">da quando sono tornata,</h3>
      <h3 class="smallFont">ho riscoperto ancora di più</h3>
      <h3 class="smallFont">la bellezza della mia città, Brescia,</h3>
      <h3 class="smallFont">e dei suoi meravigliosi laghi:</h3> 
      <h3 class="smallFont">Lago di Garda e Lago d’Iseo.</h3> 
      <h3 class="smallFont">Sono guida turistica abilitata dal 2011 e,</h3>
      <h3 class="smallFont">da allora,amo condividere la bellezza,</h3>
      <h3 class="smallFont">le curiosità, la storia di Brescia</h3> 
      <h3 class="smallFont">con tutti coloro che vengono in visita.</h3> 
      <h3 class="smallFont">Sono laureata in storia dell’arte</h3> 
      <h3 class="smallFont">e sono insegnante di italiano e storia a scuola,</h3> 
      <h3 class="smallFont">per cui le mie guide sono un perfetto mix </h3> 
      
      <br>
      
      <p>
        <button class="btn btn-lg btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Scopri di più
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <h3 class="smallFont">di interazione, di aneddoti curiosi capaci di rendere le spiegazioni frizzanti.</h3> 
        <h3 class="smallFont">Spesso le persone che accompagno in tour mi dicono che trasmetto una grande passione.</h3> 
        <h3 class="smallFont">In effetti, è un lavoro che amo molto.</h3> 
        <h3 class="smallFont">Soprattutto, mi piace creare itinerari ad hoc per ogni persona</h3> 
        <h3 class="smallFont">e graduare la visita in base alle esigenze o volontà di chi visita.</h3> 
        <h3 class="smallFont">Si possono fare tanti itinerari diversi: da quelli più turistici, a quelli più curiosi,</h3> 
        <h3 class="smallFont">così come ci si può rivolgere ad esperti d’arte e di storia o bambini.</h3> 
        <h3 class="smallFont">il mio lavoro è proprio quello: trovare la formula giusta per te!</h3>
 
      </div>
      
      
  </div>
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
