<!-- views/guidaperte.ejs -->

<%- include('partials/head'); %>
<title>Una guida turistica abilitata di Brescia e del lago di Garda e Iseo per te</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Una guida per te!</h1>
    <img src="images/unaguidaperte.jpg" alt="Maddalena Carnaghi - Guida turistica abilitata di Brescia e del lago di Garda e Iseo - La mia guida di Brescia - una guida per te" title="Maddalena Carnaghi - Guida turistica abilitata di Brescia e del lago di Garda e Iseo - La mia guida di Brescia - una guida per te" class="img-fluid img-custom">
    <br><br>
      <h3 class="smallFont">Mi Chiamo Maddalena, ho vissuto tanti anni all’estero e, da quando sono tornata, ho riscoperto ancora di più la bellezza della mia città, Brescia, e dei suoi meravigliosi laghi: Il Lago di Garda e Il Lago d’Iseo. Sono guida turistica abilitata dal 2011 e, da allora, amo condividere la bellezza, le curiosità, la storia di Brescia con tutti coloro che vengono in visita. Sono laureata in storia dell’arte e sono insegnante di italiano e storia a scuola, per cui le mie guide sono un perfetto mix di interazione, di aneddoti curiosi capaci di rendere le spiegazioni frizzanti. Spesso le persone che accompagno in tour mi dicono che trasmetto una grande passione. In effetti, è un lavoro che amo molto. Soprattutto, mi piace creare itinerari ad hoc per ogni persona e graduare il percorso in base alle esigenze o volontà di chi visita. Si possono fare tanti itinerari diversi: da quelli più turistici, a quelli più curiosi, così come ci si può rivolgere ad esperti d’arte e di storia o bambini. il mio lavoro è proprio quello: trovare la formula giusta per voi!</h3>
      <br>
      <a href="mailto:lamiaguidadibrescia@proton.me?subject=Una guida per te" class="btn btn btn-lg btn-custom2">Contattami per saperne di più</a>
      <br><br>

  </div>
</div>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Io attraverso gli altri</h1>
    <br>
      <h3 class="smallFont">Nel mondo romano, l’individuo si definiva nella relazione con l’altro. Era la comunità che riconosceva la persona e la descriveva in base ai rapporti, alla fama e alle sue qualità. 
Questo modo di descriversi funziona ancora per me. Io sono le persone che scelgo per amiche, che stimo e che con orgoglio voglio che siano presenti qui, nella mia pagina, accanto a me. Così come i progetti a cui ho dato origine o a cui ho contribuito e le associazioni, le fondazioni a cui, con consapevolezza, assumo di voler far parte.</h3>
      <br><br>
      
      
      <h2 class="homeSubTitle">Le amiche, gli amici</h2>
      <br>
      <h3 class="smallFont"><strong>Riccardo Ajossa</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.riccardoajossa.com" target="_blank" rel="noopener noreferrer">www.riccardoajossa.com</a></h3>
      <br>
      <h3 class="smallFont"><strong>Michele Beltrami</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://ilross9.wixsite.com/michelebeltrami" target="_blank" rel="noopener noreferrer">ilross9.wixsite.com/michelebeltrami</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://youtu.be/NBPFGxtQrmM?si=1RgdM9Wl80sZnxd_" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Vera Bugatti</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.verabugatti.it" target="_blank" rel="noopener noreferrer">www.verabugatti.it</a></h3>
      <br>
      <h3 class="smallFont"><strong>Monica Carrera</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.monicacarrera.it" target="_blank" rel="noopener noreferrer">www.monicacarrera.it</a></h3>
      <br>
      <h3 class="smallFont"><strong>Francesca Cecchi</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.francescachecchi.com" target="_blank" rel="noopener noreferrer">www.francescachecchi.com</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/francesca_checchi_artist?igsh=MW" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Francesca Conchieri</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.ruinascontemporaneas.it/Francesca%20Conchieri/index_francesca.html" target="_blank" rel="noopener noreferrer">http://www.ruinascontemporaneas.it/Francesca%20Conchieri/index_francesca.html</a></h3>
      <br>
      <h3 class="smallFont"><strong>Giada Crispiels</strong> – Artista e illustratrice</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.giadacrispiels.com" target="_blank" rel="noopener noreferrer">www.giadacrispiels.com</a></h3>
      <br>
      <h3 class="smallFont"><strong>Raffaella La Vena</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.raffaellalavena.com" target="_blank" rel="noopener noreferrer">www.raffaellalavena.com</a></h3>
      <br>
      <h3 class="smallFont"><strong>Paola Sabatti Bassini</strong> - Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.sediacantastorie.eu" target="_blank" rel="noopener noreferrer">www.sediacantastorie.eu</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="http://www.oino.it" target="_blank" rel="noopener noreferrer">www.oino.it</a></h3>
      <br>
      <h3 class="smallFont"><strong>Carolina Vallejo</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.artelatam.org/carolina-vallejo-3" target="_blank" rel="noopener noreferrer">www.artelatam.org/carolina-vallejo-3</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://instagram.com/carovallejod?igsh=MXV3Nms" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Fausta Ranghetti</strong> – Operatrice zen shiatsu</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.shiatsueyoga.it" target="_blank" rel="noopener noreferrer">www.shiatsueyoga.it</a></h3>
      <br>
      <h3 class="smallFont"><strong>Paola La Serra</strong> – Esperta in orientamento scolastico</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://paolalaserra.com" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Sara Monteverdi</strong> – Creatrice di cappelli</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/dariacappelli?igs=bnJuZjd1" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/cappellidaria" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Maura Lo Presti</strong> – Gestore di locanda sull’alto Lago di Garda</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.locandagenzianella.it" target="_blank" rel="noopener noreferrer">www.locandagenzianella.it</a></h3>
      <br>
      <h3 class="smallFont"><strong>Davide Pagnano</strong> – Gestore di B&B vicino Roma e camminatore</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/momentoroma2020" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Tommaso Lunardi</strong> – Guida turistica a Lisbona</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://facebook.com/tommaso.lunardi10" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Armida Gandini</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.armidagandini.it/arte" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Marina Rossi</strong> – Danzatrice, coreografa e formatrice</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.lelastiko.it" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Davide Sforzini</strong> – Artista</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/davide.sforzini.1" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>
      <h3 class="smallFont"><strong>Antimio Deinei</strong> – Gestore pizzeria e ristorante a Brescia</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="www.lestropizzarestaurant.it" target="_blank" rel="noopener noreferrer">www.lestropizzarestaurant.it</a></h3>

      
      
      
      <h2 class="homeSubTitle">Le associazioni e le fondazioni in cui mi rifletto</h2>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer"><img src="images/logo-carme-h100.jpg" alt="Logo CARME"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer"><strong>Associazione C.AR.M.E.</strong> - Centro Arti Multiculturali Etnosociali</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.carmebrescia.it" target="_blank" rel="noopener noreferrer">www.carmebrescia.it</a></h3>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer"><img src="images/logo-berardelli-h100c3.jpg" alt="Logo Fondazione Berardelli"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer"><strong>Fondazione Berardelli</strong> - Fondazione dedicata alla Poesia Visiva</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazioneberardelli.org/home.php" target="_blank" rel="noopener noreferrer">https://fondazioneberardelli.org/home.php</a></h3>
      <br>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer"><img src="images/logo-perlar-h100.png" alt="Logo Perlar"></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer"><strong>Associazione Perlar</strong> - Organizzazione che promuove  esperienze di relazione con le persone senza dimora</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fiopsd.org/perlar" target="_blank" rel="noopener noreferrer">www.fiopsd.org/perlar</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.instagram.com/associazioneperlar/" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-instagram"></i></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/associazioneperlar/" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-facebook"></i></a></h3>
      <br>

      <h2 class="homeSubTitle">I Progetti che ho creato o a cui ho preso parte</h2>
      <br>
      <h3 class="smallFont"><strong>Connaturata</strong> - cura della Mostra di <strong>Riccardo Ajossa</strong> e catalogo, Brescia 2023</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=UD0uhXruaGw" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>Riccardo Ajossa Opening of Connaturata Solo Show Brescia April 2023</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=YThFdNp-OL0" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>Riccardo Ajossa il making off della mostra Connaturata 2023</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://fondazione.cogeme.net/wp-content/uploads/2023/04/20230413_PRIMABRESCIA.IT_Connaturata_di_Riccardo_Ajossa_la_mostra_a_Brescia.pdf" target="_blank" rel="noopener noreferrer">Ritaglio pdf preparato da <strong>PRIMARETE.it</strong></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.lacompagniamassetti.it/shop/arte/connaturata" target="_blank" rel="noopener noreferrer">Link alla pagina dedicata della <strong>Compagnia della Stampa</strong></a></h3>
      <br>
      <h3 class="smallFont"><strong>Segni, scritture e immagini. Opere e libri d’artista. Mostra antologica</strong> – cura della Mostra di <strong>Fernanda Fedi e Gino Gini</strong> e catalogo, Brescia 2023</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.fernandafedi.it/2023/11/21/segni-scritture-e-immagini-opere-e-libri-dartista-mostra-antologica-fondazione-berardelli-25-novembre-2023" target="_blank" rel="noopener noreferrer">Link alla pagina dedicata dal sito di <strong>Fernanda Fedi</strong></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.artribune.com/mostre-evento-arte/gino-gini-fernanda-fedi" target="_blank" rel="noopener noreferrer">Link alla pagina dedicata dal sito <strong>Artribune</strong></a></h3>
      <br>
      <h3 class="smallFont"><strong>Letture Sottese</strong> - cura della Mostra di <strong>Vito Capone</strong>, Roma 2019</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=UD0uhXruaGw" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>STUDIO ARTE FUORI CENTRO - VITO CAPONE - "letture sottese"</a></h3>
      <br>
      <h3 class="smallFont"><strong>Rigorosamente libri</strong> - collaborazione alla Mostra di libri d’artista e al catalogo, Foggia 2019</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=55xWxmvGru8" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>Rigorosamente Libri 2019 | IV edizione</a></h3>
      <br>
      <h3 class="smallFont"><strong>TraCarte6, avanguardie artistiche del ‘900</strong> -  cura della Mostra e catalogo, Foggia 2015</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=cIPQBz3Tf2I" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>TraCarte 6, avanguardie artistiche del Novecento</a></h3>
      <br>
      <h3 class="smallFont"><strong>Rigorosamente libri</strong> - cocura della Mostra di libri d’artista e catalogo, Foggia 2014</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=wSBVH8SaDrA" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>Rigorosamente libri 2014</a></h3>
      <br>
      <h3 class="smallFont"><strong>Proyecto Penone</strong> - collaborazione alla Mostra di <strong>Giuseppe Penone</strong> e creazione dell’attività didattica, Quito 2009</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.youtube.com/watch?v=k1fpRXaZuIU" target="_blank" rel="noopener noreferrer"><i class="ps-4 pe-2 fa-brands fa-youtube"></i>Arte Italiana a Quito/ Quito Latino</a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.elcomercio.com/actualidad/penone-llega-vez-primera-ecuador.html" target="_blank" rel="noopener noreferrer">Articolo su <strong>El Comercio</strong></a></h3>            
      <br>
      <h3 class="smallFont"><strong>Poesia Visiva VS Fluxus</strong> - collaborazione alla Mostra, Brescia 2013</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://bsnews.it/2013/02/24/poesia-visiva-e-fluxus-gli-anni-60-e-70-alla-fondazione-berardelli" target="_blank" rel="noopener noreferrer">Articolo su <strong>Bs News</strong></a></h3>
      <br>
      <h3 class="smallFont"><strong>Sprintpoem</strong> – collaborazione alla Mostra di <strong>Lucia Marcucci</strong>, Brescia 2013</h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://ocrablog.blogspot.com/2012/05/lucia-marcucci-sprintpoem-fondazione.html" target="_blank" rel="noopener noreferrer">Articolo su <strong>Ocrablog</strong></a></h3>

      
      
  </div>
</div>




<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
