<!-- views/home.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<title>Maddalena Carnaghi - La mia guida di Brescia - Homepage</title>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <br>
    
    
      <!-- BS Carousel for pictures-->
      <div id="imageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="4"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="5"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="6"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="7"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="8"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="9"></button>
      </div>
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="images/home_img_iseobarca_scaled.jpg" alt="Visita guidata del Lago d'Iseo - Tour del Lago d'Iseo - itinerari guidati di Iseo" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Lago d'Iseo</h1>
              <p><a href="/itinerarilaghi#iseo" class="btn btn-sm btn-custom" role="button">Scopri di più - Itinerari sul lago d'Iseo</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_parcoarcheologico_scaled.jpg" alt="Visita guidata di Brescia romana - Itinerario turistico del Parco Archeologico di Brixia - Tempio Capitolino" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Brescia, Parco Archeologico</h1>
              <p><a href="/itinerariclassici#parcoarcheologico" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita al Parco Archeologico</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_piazzebrescia_scaled.jpg" alt="Visita guidata di Piazza Loggia - Itinerari guidati di Brescia - Tour delle piazze di Brescia" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Brescia, Piazza Loggia</h1>
              <p><a href="/itinerariclassici#piazze" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita alle piazze della città</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_santagiulia_scaled.jpg" alt="Visita guidata Museo di Santa Giulia - Santa Maria in Solario - Croce di Desiderio" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Santa Maria in solario</h1>
              <p><a href="/itinerariclassici#santagiulia" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita a Santa Giulia</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_verabugatti2_scaled.jpeg" alt="Vera Bugatti Parco dell'acqua" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Dipinto di Vera Bugatti - Parco dell'acqua</h1>
              <p><a href="/itinerariclassici#piazze" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita alle piazze della città</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_parcoarcheologico_scaled.jpg" alt="Visita guidata di Brescia romana - Itinerario turistico del Parco Archeologico di Brixia - Tempio Capitolino" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Brescia, Parco Archeologico</h1>
              <p><a href="/itinerariclassici#parcoarcheologico" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita al Parco Archeologico</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_piazzebrescia_scaled.jpg" alt="Visita guidata di Piazza Loggia - Itinerari guidati di Brescia - Tour delle piazze di Brescia" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Brescia, Piazza Loggia</h1>
              <p><a href="/itinerariclassici#piazze" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita alle piazze della città</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_sirmione_scaled.jpg" alt="Visita guidata di Sirmione - Tour di Sirmione - Scopri Sirmione" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Sirmione</h1>
              <p><a href="/itinerarilaghi#sirmione" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita a Sirmione</a></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/home_img_parcoarcheologico_scaled.jpg" alt="Visita guidata di Brescia romana - Itinerario turistico del Parco Archeologico di Brixia - Tempio Capitolino" class="d-block w-100 img-fluid img-custom">
            <div class="carousel-caption">
              <h1 class="homeTitle">Brescia, Parco Archeologico</h1>
              <p><a href="/itinerariclassici#parcoarcheologico" class="btn btn-sm btn-custom" role="button">Scopri di più - Visita al Parco Archeologico</a></p>
            </div>
        </div>
        
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    
        <!-- close carousel-inner -->  
        </div>

      <!-- close Carousel -->  
      </div>

  </div> <!-- carousel column -->
  
</div> <!-- /row -->

<!-- Una guida per te row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Una guida per te</h1>
    <img src="images/home_guidaperte.jpg" alt="Maddalena Carnaghi - Guida turistica abilitata di Brescia e del lago di Garda e Iseo - La mia guida di Brescia - una guida per te" class="img-fluid img-custom">
      <br><br>
      <h3 class="smallFont">Mi chiamo Maddalena, sono una guida turistica abilitata, amo accompagnare le persone a scoprire la mia Brescia! Mi piace mostrare la città a chi la vede per la prima volta e intende capirla con la mediazione di chi l’ha studiata a lungo e la vive, ma mi rivolgo anche ai bresciani che intendono riscoprirla. Ci sono ancora molte storie curiose da raccontare e si può trovare una formula inedita e per nulla noiosa!</h3>
      
      <p>
        <a href="/guidaperte" class="btn btn-lg btn-custom" role="button">la tua guida di Brescia</a>
      </p>  

  </div>
</div> <!-- /row -->

<!-- Il calendario row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Il calendario</h1>
    <img src="images/home_calendario.jpg" alt="Orologio di Piazza della Loggia - Visita guidata di Piazza Loggia - Maddalena Carnaghi - La mia guida di Brescia - calendario" class="img-fluid img-custom">
      <br><br>
      <h3 class="smallFont">Organizzo tour con piccoli gruppi per scoprire, divertendosi, particolari inediti della città e della ricchissima provincia</h3>

      <p>
        <a href="/calendario" class="btn btn-lg btn-custom" role="button">unisciti a noi!</a>
      </p>  

  </div>
</div> <!-- /row -->

<!-- Gli itinerari row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Gli itinerari</h1>
    <img src="images/home_itinerari.jpg" alt="Piede della Vittoria Alata - Visita guidata di Brescia romana/itinerario turistico del Parco Archeologico di Brixia/Tempio Capitolino - Maddalena Carnaghi - La mia guida di Brescia gli - itinerari" class="img-fluid img-custom">
      <br><br>
      <h3 class="smallFont">Brescia, la mia città, e i laghi che la circondano, si prestano a diversi tipi di visite guidate, scoprite con me:</h3>
      
      
        <p class="btn-group-vertical">
            <a href="/itinerariclassici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>classici</strong></a>
            <a href="/itinerarididattici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>didattici</strong></a>
            <a href="/itineraritema" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>a tema</strong></a>
            <a href="/itineraristorici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>storici</strong></a>
            <a href="/itinerarilaghi" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>dei laghi</strong></a>
        </p>

      
  </div>
</div> <!-- /row -->

<!-- In evidenza row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">In evidenza</h1>
    <img src="images/home_inevidenza.jpg" alt="Visita guidata del Castello di Brescia - Itinerario turistico del Falcone d'Italia - Tour di Brescia - Maddalena Carnaghi - La mia guida di Brescia - in evidenza" class="img-fluid img-custom">
      <br><br>
      <br><br>
      <h1 class="homeTitle"><em>Le proposte legate al mese:</em></h1>
      <h3 class="homeSubTitle">Per bresciani che vogliono conoscere il Museo di Santa Giulia</h3>
      <h3 class="smallFont">domenica 07/04 ore 16</h3>
      <p>
        <a href="/evidenza#brescianisantagiulia" class="btn btn-lg btn-custom" role="button">per saperne di più</a>
      </p>  
      
      <br><br>
      <h3 class="homeSubTitle">Sirmione al tramonto</h3>
      <h3 class="smallFont">venerdì 19/04 ore 18</h3>
      <p>
        <a href="/evidenza#sirmionetramonto" class="btn btn-lg btn-custom" role="button">per saperne di più</a>
      </p>  

      <br><br>
      <h3 class="homeSubTitle">Il Risorgimento ti aspetta</h3>
      <h3 class="smallFont">sabato 20/04 ore 10</h3>
      <p>
        <a href="/evidenza#risorgimentoaspetta" class="btn btn-lg btn-custom" role="button">per saperne di più</a>
      </p>  

      <br><br>
      <h3 class="homeSubTitle">I Luoghi della Resistenza a Brescia</h3>
      <h3 class="smallFont">domenica 28/04 ore 18</h3>
      <p>
        <a href="/evidenza#luoghiresistenzabrescia" class="btn btn-lg btn-custom" role="button">per saperne di più</a>
      </p> 
      
      <br><br>
      <br><br>
      <h1 class="homeTitle"><em>In preparazione:</em></h1>

      <h3 class="homeSubTitle">I Templari</h3>
      <h3 class="smallFont">avete mai immaginato che anche da Brescia partirono coloro che divennero i guardiani del Santo Sepolcro? Vuoi scoprire dove si ritrovavano e cosa facevano a Brescia?</h3>

      <br><br>
      <h3 class="homeSubTitle">Le donne raccontate dalle donne</h3>
      <h3 class="smallFont">stanche che il racconto sia sempre qualcosa di riferito da altri? Vi piacciono le fonti dirette e volete conoscere donne che hanno vissuto a Brescia e lo hanno raccontato? Storie incredibili vi attendono!</h3>

      <br><br>
      <h3 class="homeSubTitle">I luoghi e i momenti delle feste</h3>
      <h3 class="smallFont">e se vi dicessi che una piazza bresciana è stata completamente allagata per giocare ad una battaglia navale? E  se raccontassi del palio e delle giostre medievali? E del passaggio di re e di regine?</h3>

  </div>
</div> <!-- /row -->

<!-- Regala una visita row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Regala una visita</h1>
    <img src="images/home_regalaunavisita.jpg" alt="Visita guidata della rocca di Sirmione - Itinerario turistico del castello scaligero - Tour di Sirmione - Maddalena Carnaghi - La mia guida di Brescia - regala una visita" class="img-fluid img-custom">
      <br><br>
      <h3 class="smallFont">Se anche voi non sopportate più i regali preconfezionati, donate un’esperienza!</h3>
      <h3 class="smallFont">Possiamo creare insieme il regalo perfetto per un compleanno, anniversario, laurea, festa della mamma, del papa’, dei nonni o per qualsiasi evento speciale.</h3>
      </h3>
      <br><br>
      <p>
        <button type="button" class="btn btn-lg btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseRegalo" aria-expanded="false" aria-controls="collapseRegalo">Scopri di più</button>
      </p>
  </div>
</div> <!-- /row -->
<div class="row my-5 justify-content-center collapse" id="collapseRegalo">
  <div class="col">
      <h3 class="smallFont azzurrino"><strong>Regalate un buono per le mie visite guidate</strong></h3>
      <h3 class="smallFont">Il buono minimo corrisponde alla partecipazione a due tour  ovvero 16 (8 euro + 8 euro) ma si può regalare anche un tour in esclusiva..parliamone!</h3>
      <br><br>
      <h3 class="smallFont azzurrino"><strong>Scegliete l’itinerario ed è fatta</strong></h3>
      <h3 class="smallFont">Cliccate sul link di seguito e scegliete il tour che più preferite e poi ci sentiamo e prepariamo un regalo ad hoc per la persona cara!</h3>
        <p class="btn-group-vertical">
            <a href="/itinerariclassici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>classici</strong></a>
            <a href="/itinerarididattici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>didattici</strong></a>
            <a href="/itineraritema" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>a tema</strong></a>
            <a href="/itineraristorici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>storici</strong></a>
            <a href="/itinerarilaghi" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>dei laghi</strong></a>
        </p>      
      <h3 class="smallFont">Se non avete le idee ben chiare, non vi preoccupate! Scrivetemi una mail raccontandomi quali sono i vostri desideri e vi aiuterò a trovare il regalo perfetto per l’occasione.</h3>
      <br><br>
      <h3 class="smallFont">I buoni non hanno scadenza anche se meglio non far passare decenni!</h3>
      <p class="btn">
          <a href="mailto:lamiaguidadibrescia@proton.me?subject=Contattami per regalare una visita" class="btn btn btn-lg btn-custom2">Contattami per regalare una visita</a>
      </p>
  </div>
</div> <!-- /row -->

<!-- Contatti row -->
<div class="row mt-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Contatti</h1>
    <img src="images/home_contatti.jpg" alt="Santa Maria in Solario. Reimpiego in facciata di una lastra romana - Visita guidata del Museo di Santa Giulia - Maddalena Carnaghi - La mia guida di Brescia - contatti" class="img-fluid img-custom">
    <br><br>
      <h3 class="smallFont azzurrino"><strong>Contattami!!!</strong></h3>
      <h3 class="smallFont"><i class="px-3 fas fa-mobile-screen"></i>+39 3477667008</h3>  
      <h3 class="smallFont azzurrino"><strong>o scrivimi!!!</strong></h3>
      <h3 class="smallFont"><i class="px-3 fas fa-at"></i>lamiaguidadibrescia@proton.me</h3>
      <h3 class="smallFont azzurrino"><strong>e non dimenticare di seguirmi</strong></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/la.mia.guida.di.brescia/" target="_blank" rel="noopener noreferrer"><i class="px-3 fa-brands fa-facebook"></i></a></h3>
      <h3 class="smallFont"><a class="text-reset text-decoration-none" href="https://www.facebook.com/la.mia.guida.di.brescia/" target="_blank" rel="noopener noreferrer"><i class="px-3 fa-brands fa-instagram"></i></a></h3>
        

  </div>
</div> 

<!-- Animation row -->
<div class="row w-50 mx-auto">
  <video class="object-fit-scale" autoplay loop muted>
    <source src="images/videoNewResized.mkv" type="video/mp4">Your browser does not support the video tag.
  </video>
</div>

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
