<!-- views/home.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Animation row -->
<div class="row w-25 mx-auto">
  <video class="object-fit-scale" autoplay loop muted>
    <source src="images/video.mp4" type="video/mp4">Your browser does not support the video tag.
  </video>
</div>


<!-- Main row -->
<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <h1 class="homeTitle">La mia guida di Brescia</h1>
    <br>
    
    
      <!-- BS Carousel for pictures-->
      <div id="imageCarousel" class="carousel slide">
      
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="4"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="5"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="6"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="7"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="8"></button>
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="9"></button>
      </div>
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/image1.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image2.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image3.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image4.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image5.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image6.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image7.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image8.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image9.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/image10.jpg" alt="Game 1" class="d-block w-100">
            <div class="carousel-caption">
              <h5>Image Title</h5>
              <p>Image Text</p>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    
        <!-- close carousel-inner -->  
        </div>

      <!-- close Carousel -->  
      </div>

  </div> <!-- carousel column -->
  
  <div class="col"></div>
</div> <!-- /row -->

<!-- Una guida per te row -->
<div class="row my-5">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">Una guida per te</h1>
      <h3>Mi Chiamo Maddalena,</h3> 
      <h3>sono <strong>guida turistica abilitata dal 2011</strong></h3>
      <h3>e insegnante di italiano e storia a scuola</h3>
      <h3>...</h3>
      <h3>ma sono anche <strong>una persona che ama scherzare</strong></h3>
      <h3>per cui le mie guide sono</h3><h3  class="smallFont fw-bolder text-uppercase">un perfetto mix..</h3>
      
            
      <br>
      
      <p>
        <a href="/guidaperte" class="btn btn-lg btn-custom" role="button">una guida diversa</a>
      </p>  

  </div>
  <div class="col"></div>
</div>

<!-- Il calendario row -->
<div class="row my-5">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">Il calendario</h1>
      <h3>Organizzo tour con piccoli gruppi</h3>
      <h3>per scoprire, divertendosi,</h3> 
      <h3>particolari inediti della città</h3>
            
      <br>
      
      <p>
        <a href="/calendario" class="btn btn-lg btn-custom" role="button">unisciti a noi!</a>
      </p>  

  </div>
  <div class="col"></div>
</div>

<!-- Gli itinerari row -->
<div class="row my-5">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">Gli itinerari</h1>
      <h3>Brescia, la mia città,</h3>
      <h3>si presta a diversi tipi di visite guidate,</h3>
      <h3>scopri con me:</h3>
            
      <br>
      
        <p class="btn-group">
            <a href="/itinerariclassici" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>classici</strong></a>
            <a href="/itinerarilaghi" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>dei laghi</strong></a>
            <a href="/itineraritema" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>a tema</strong></a>
        </p>

      
  </div>
  <div class="col"></div>
</div>

<!-- In evidenza row -->
<div class="row my-5">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">In evidenza</h1>
      <h3>Questo mese propongo</h3>
      <h3>la visita alla mostra “Finché non saremo libere”</h3>
      <h3>al Museo di Santa Giulia</h3>
            
      <br>
      
      <p>
        <a href="/evidenza" class="btn btn-lg btn-custom" role="button">per saperne di più</a>
      </p>  

  </div>
  <div class="col"></div>
</div>

<!-- Regala una visita row -->
<div class="row my-5">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">Regala una visita</h1>
      <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h3>
            
      <br>
      
      <p>
        <a href="/regalavisita" class="btn btn-lg btn-custom" role="button">Scopri di più</a>
      </p>  

  </div>
  <div class="col"></div>
</div>

<!-- Contatti row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  
  <div class="col-10">
    <h1 class="homeTitle">Contatti</h1>
      <h3><strong>Contattami!!!</strong></h3>
      <h3><i class="px-3 fas fa-mobile-screen"></i>+39 3477667008</h3><br>      
      <h3><strong>o scrivimi</strong></h3>
      <h3><i class="px-3 fas fa-at"></i>lamiaguidadibrescia@proton.me</h3><br> 
      <h3><strong>e non dimenticare di seguirmi</strong></h3>
      <h3><i class="px-3 fa-brands fa-facebook"></i>fsdfsdakfsd prut<i class="px-3 fa-brands fa-instagram"></i>fsdfsdakfsd</h3>
      <br>
      
      <p>
        <a href="/contatti" class="btn btn-lg btn-custom" role="button">Scopri di più</a>
      </p>  

  </div>
  <div class="col"></div>
</div>

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
