<!-- views/itinerarilaghi.ejs -->

<%- include('partials/head'); %>
<title>Itinerari dei laghi - Maddalena Carnaghi - La mia guida di Brescia</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Gli tinerari dei laghi</h1>
    <h2 class="homeSubTitle">Esplorare i laghi con una guida turistica è come vederli per la prima volta</h2>
    <br>
      <h3 class="smallFont">Scoprite con me i tour dei laghi</h3>
      <h3 class="smallFont">potrete trascorrere un giorno intero o una mezza giornata sul Lago di Garda, tra Sirmione, per esempio visitando le Grotte di Catullo o la Rocca Scaligera, Desenzano.</h3>   
      <h3 class="smallFont">Oppure visitare Salò o il Vittoriale, o magari navigare tra le sponde del Benaco e scoprire i paesini caratteristici</h3>  
      <h3 class="smallFont">Così anche per il Lago d’Iseo dove propongo un tour che accosta la bellezza del paesaggio alla storia del luogo</h3>
  </div> <!-- /main col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="sirmione">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Lago di Garda</h3>
    <h3 class="homeTitle">Sirmione</h3>
    <h4 class="homeSubTitle">molto più del solito giretto</h4>
    <img src="images/garda_it_sirmione.jpg" class="img-fluid img-custom"  title="Itinerari dei laghi - Sirmione - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 2 ore e mezza</h6>
    <h6><em>Adatto per:</em> tutti! Il Parco archeologico ha dei punti con dislivelli e ghiaia che è meglio percorrere con scarpe sportive </h6>
    <h6><em>Cosa si visita:</em> Parco archeologico denominato “Grotte di Catullo”, Rocca Scaligera, il borgo, il lungolago, la chiesa di Santa Maria Maggiore e la Cappella di Sant’Anna al Ponte. È possibile anche un itinerario più breve che non entra nel castello e nel parco archeologico</h6>
    
    <div class="accordion mb-3" id="description3a">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading1a">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3a" aria-expanded="true" aria-controls="collapse3a">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse3a" class="accordion-collapse collapse" aria-labelledby="heading3a" data-bs-parent="#description3a">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Sirmione, definita “perla” dal poeta Catullo, è davvero un luogo magico in cui la bellezza della natura incontra la valorizzazione che gli uomini del periodo romano e medievale hanno saputo renderle. È davvero speciale percorrere le viuzze in cui si riverbera il lago e scoprire insieme il periodo della fondazione scaligera del castello, la struttura della chiesetta ridossata sulle mura e l’enorme villa romana incredibilmente incastonata sulla punta della penisola. Durante la passeggiata sul lungolago si potrà inoltre commentare la varietà del paesaggio lacuale, le proprietà dell’acqua della fonte di Boyola e scorgere la casa di Maria Callas.</h6>
            <h6><em><strong>Attenzione</strong></em> è necessaria la prenotazione alla Rocca Scaligera e alle Grotte di Catullo per i gruppi al seguente link:  link: <a class="link-opacity-100" href="https://museidelgarda.ticka.it/">Ticket Musei del Garda</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago di Garda - Sirmione" class="btn btn-custom2">Prenota Lago di Garda - Sirmione</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle" id="desenzano">Lago di Garda</h3>
    <h3 class="homeTitle">Desenzano</h3>
    <h4 class="homeSubTitle">Desenzano da fundus romano a grande mercato</h4>
    <img src="images/garda_it_desenzano.jpg" class="img-fluid img-custom" alt="Itinerari dei laghi - Desenzano - Maddalena Carnaghi - La mia guida di Brescia" title="Itinerari dei laghi - Desenzano - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 1 1/2, 2 ore</h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em> Parco archeologico della Domus Romana, Chiesa di Santa Maria Maddalena, Piazza Malvezzi, Porto Vecchio e Castello</h6>
    
    <div class="accordion mb-3" id="description3b">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3b">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3b" aria-expanded="true" aria-controls="collapse3b">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse3b" class="accordion-collapse collapse" aria-labelledby="heading3b" data-bs-parent="#description3b">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> è un viaggio nel tempo che riserva sorprese anche a chi conosce la città più popolosa del lago. A partire dalla Villa Romana che offre, non solo bellissimi mosaici, ma anche un’idea di come vivevano gli antichi romani e uno spaccato dell’evoluzione della villa romana. Percorrendo una stretta viuzza, si giunge alla chiesa di Santa Maria Maddalena: bellissima chiesa che offre un gioiello assoluto. Si tratta dell’Ultima Cena di Gian Battista Tiepolo. La porta laterale della chiesa si  rivolge verso la piazza centrale che permette di conoscere la storia di Sant’Angela Merici e le vicessitudini che si sono alternate nella piazza Malvezzi. Immancabile è la spiegazione del Porto Vecchio e, per chi non è ancora stanco, la salita al Castello ricetto.</h6>
            <h6><em><strong>Attenzione</strong></em> è necessaria la prenotazione alla Villa Romana per i gruppi al seguente link:  link: <a class="link-opacity-100" href="https://museidelgarda.ticka.it/">Ticket Musei del Garda</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago di Garda - Desenzano" class="btn btn-custom2">Prenota Lago di Garda - Desenzano</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Lago di Garda</h3>
    <h3 class="homeTitle">Salò</h3>
    <h4 class="homeSubTitle">l’eleganza e la tranquillità</h4>
    <img src="images/garda_it_salo.jpg" class="img-fluid img-custom" alt="Itinerari dei laghi - Salò - Maddalena Carnaghi - La mia guida di Brescia" title="Itinerari dei laghi - Salò - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 1 ora e mezza</h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em> visita di soli esterni che comprende Piazza Carmine, la porta d’entrata all’antico borgo, i palazzi e le ville usate nel periodo della Repubblica Sociale Italiana, la superba chiesa di Santa Maria, il palazzo della Magnifica Patria, i palazzi sul lungolago e le statue di due dei maggiori protagonisti.</h6>
    
    <div class="accordion mb-3" id="description1a">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3c">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3c" aria-expanded="true" aria-controls="collapse3c">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse3c" class="accordion-collapse collapse" aria-labelledby="heading3c" data-bs-parent="#description3c">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Salò permette di comprendere piacevolmente lo sviluppo del Lago di Garda nella storia da un punto di vista privilegiato: un golfo bellissimo e mantenuto nella sua bellezza con costruzioni eleganti che vanno dal Medioevo a inizio Novecento. La passeggiata sul lungolago è davvero rilassante e permette di scoprire gli edifici usati durante il periodo della Repubblica Sociale Italiana, così come anche lo stile Liberty dei bei palazzi affacciati sul lago e lo straordinario Palazzo della Magnifica Patria. La Chiesa di Santa Maria Assunta è un vero gioiello del Rinascimento e al suo interno si possono ammirare, oltre ad un congiunto architettonico straordinario, opere di Zenon Veronese, Romanino e Andrea Celesti. Per non parlare del Cristo ligneo ritenuto da Andrea Mantegna il più bello mai visto.</h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago di Garda - Salò" class="btn btn-custom2">Prenota Lago di Garda - Salò</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Lago di Garda</h3>
    <h3 class="homeTitle">Il Vittoriale degli Italiani</h3>
    <h4 class="homeSubTitle">...il luogo che più amo del lago</h4>
    <img src="images/garda_it_vittoriale.jpg" class="img-fluid img-custom" alt="Itinerari dei laghi - Il Vittoriale degli Italiani - Maddalena Carnaghi - La mia guida di Brescia" title="Itinerari dei laghi - Il Vittoriale degli Italiani - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 2 ore/ 2 e mezza</h6>
    <h6><em>Adatto per:</em> camminatori. Il percorso prevede dislivelli e terreno irregolare. Meglio indossare scarpe da ginnastica.</h6>
    <h6><em>Cosa si visita:</em> il parco del Vittoriale (non è inclusa la visita alla Prioria)</h6>
    
    <div class="accordion mb-3" id="description3d">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3d">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3d" aria-expanded="true" aria-controls="collapse3d">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse3d" class="accordion-collapse collapse" aria-labelledby="heading3d" data-bs-parent="#description3d">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Su Gabriele d’Annunzio si sanno e si dicono tante cose ma il percorso nel suo parco è un modo per sfatare alcuni miti comprendere bene le sue idee, le sue ossessioni e le sue imprese. La passeggiata permette infatti di capire il difficile rapporto con Mussolini, il suo ruolo di leader carismatico, così come le imprese su Vienna, a Buccari o a Fiume. Oltre alla parte storica, visitare il parco che lui considerava come “un libro di pietra” permette di conoscere anche la sua ironia, i suoi riferimenti storico-artistici e, grazie anche ad aneddoti, cogliere la sua vita spinta al massimo.</h6>
            <h6><em><strong>Attenzione</strong></em> è necessaria la prenotazione al Vittoriale degli Italiani al seguente link: <a class="link-opacity-100" href="https://bottega.vittoriale.it/#/">Ticket Museo del Vittoriale degli Italiani</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago di Garda - Vittoriale degli Italiani" class="btn btn-custom2">Prenota Lago di Garda - Vittoriale degli Italiani</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Lago di Garda</h3>
    <h3 class="homeTitle">Tour in barca</h3>
    <h4 class="homeSubTitle">Per scoprire insieme “un’opera ammirevole della natura” (Goethe)</h4>
    <img src="images/garda_it_barca.jpg" class="img-fluid img-custom" alt="Itinerari dei laghi - Tour lago di Garda - Maddalena Carnaghi - La mia guida di Brescia" title="Itinerari dei laghi - Tour lago di Garda - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> da definire</h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em> Il tour in barca si può creare in base alle vostre esigenze: può durare mezz’ora attorno alla penisola di Sirmione, può durare un’ora e mezza fino all’Isola del Garda o può durare 3 ore o più, bordeggiando le sponde del Benaco. Nel caso di tour lunghi si può esplorare la riviera occidentale e lombarda, ammirando il Vittoriale e il Golfo di Salò e, sulla sponda opposta, quella orientale, ammirare le meravigliose ville incastonate sulla riviera scoscesa e naturale e la magnifica Punta San Vigilio. Scrivetemi per saperne di più!</h6>
    
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago di Garda - Tour in barca" class="btn btn-custom2">Prenota Lago di Garda - Tour in barca</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle" id="iseo">Lago d'Iseo</h3>
    <h3 class="homeTitle">Tour del lago</h3>
    <h4 class="homeSubTitle">Passeggiate o navigazione  tra scorci romantici e natura mozzafiato</h4>
    <img src="images/iseo_it_barca.jpg" class="img-fluid img-custom" alt="Itinerari dei laghi - Tour lago d'Iseo - Maddalena Carnaghi - La mia guida di Brescia" title="Itinerari dei laghi - Tour lago d'Iseo - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> mezza giornata od una giornata intera</h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em> ci sono infinite possibilità che vanno dalla degustazione dei vini in Franciacorta, alla scoperta di un monastero dell’anno mille, alla passeggiata nella riserva naturale delle Torbiere. Vi faccio una proposta. Visita di Iseo e percorso in barca, possibilmente con il tour delle tre isole, verso Montisola. Passeggiata sul lungolago di Peschiera Maraglio</h6>
    
    <div class="accordion mb-3" id="description1a">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3f">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3f" aria-expanded="true" aria-controls="collapse3f">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse3f" class="accordion-collapse collapse" aria-labelledby="heading3f" data-bs-parent="#description3f">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Iseo è una perla del Medioevo: è meraviglioso perdersi tra le sue viuzze per scoprirne la piazza con il monumento a Garibaldi, la piccola chiesetta del Mercato e poi proseguire verso la Pieve di Sant’Andrea dal caratteristico aspetto medievale. Nella piazza del sagrato c’è un altro tesoro: la Chiesa di San Giorgio con una inedita danza macabra. È possibile continuare la visita verso il castello o scendere verso la piazza dove si riunivano le lavandaie e conoscere l’Arsenale veneziano. La scoperta del lago prosegue imbarcandosi al fine di raggiungere la più grande isola lacustre abitata d’Europa: MonteIsola. Giunti a Peschiera Maraglio, una passeggiata permette di conoscere come si viveva in passato sull’isola: gli antichi mestieri, le imbarcazioni e i cibi tradizionali. Una piacevolissima camminata accompagnerà il visitatore alla scoperta del lago, degli antichi castelli e a scorgere l’Isola di San Paolo.</h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Lago d'Iseo - Tour del lago" class="btn btn-custom2">Prenota Lago d'Iseo - Tour del lago</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->



<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
