<!-- views/itineraritema.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Itinerari a tema</h1>
    <br>
      <h3>Brescia, la mia città,</h3>
      <h3>si presta a diversi tipi di visite guidate,</h3>

    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent1" aria-controls="collapseContent1">
          <h3 class="smallFont">Brescia,</h3>
          <h3 class="smallFont">percorsi sulle donne</h3>
        </button>
        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Brescia e le sue donne nella Storia</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Percorso guidato sui luoghi delle donne che hanno vissuto e raccontato di Brescia nella storia</h6>

            <a href="#" class="btn btn-custom2">Scrivimi per saperne di più</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Brescia e le sue donne della Resistenza</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Percorso guidato sui luoghi delle donne della Resistenza bresciana</h6>

            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario sui luoghi delle donne della Resistenza bresciana" class="btn btn-custom2">Prenota Brescia - Itinerario sui luoghi delle donne della Resistenza bresciana</a>
        </div> <!-- /content row -->
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->

    <div class="row">
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent2" aria-controls="collapseContent2">
          <h3 class="smallFont">Brescia, itinerari storici</h3>
          <h3 class="smallFont">sui luoghi della Repubblica Sociale Italiana e dei partigiani</h3>
        </button>
      
        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - itinerari storici sui luoghi della Repubblica Sociale Italiana e dei partigiani</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore circa</h6>
            <h6>Adatto per: chi vuole capire meglio come si viveva tra il settembre 1943 e l’aprile 1945</h6>
            <h6>1- Cosa si visita: Itinerario generale che accompagna tra i luoghi dove si nascondevano i partigiani, tra i luoghi del potere repubblichino e nei luoghi di tortura, tra i luoghi in cui si possono raccontare gli episodi salienti in cui si è fatta la storia e dove sono nati i movimenti di resistenza. </h6>
            <h6>2- Cosa si visita: Itinerario sui luoghi del potere della Repubblica sociale Italiana. I luoghi di repressione, di tortura, di spionaggio, di potere attraverso gli episodi e i personaggi salienti.</h6>
            <h6>3- Cosa si visita: Itinerario sui luoghi dei partigiani: i nascondigli, i partiti, i ciclostilati, le repressioni, gli aiuti narrati attraverso gli episodi e i personaggi salienti.</h6>
            <h6>4- Cosa si visita: Itinerario sui luoghi degli eccidi: gli ebrei e la deportazione il tribunale, La Loggetta, l’Ufi narrati attraverso gli episodi e i personaggi salienti.</h6>
            <h6>5- Cosa si visita: Itinerario sui luoghi delle donne della Resistenza.</h6>
            
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario sui luoghi della RSI e della Resistenza" class="btn btn-custom2">Prenota Brescia - Itinerario sui luoghi della RSI e della Resistenza</a>
        </div> <!-- /content row -->
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->
    
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
