<!-- views/itineraritema.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  
  <div class="col-10"> <!-- main col -->
    <h1 class="homeTitle">Itinerari</h1>
    <br>
      <h3>Brescia, la mia città,</h3>
      <h3>si presta a diversi tipi di visite guidate,</h3>
      <h3>Scopri con me i tour a tema</h3> 
      <h3>Scopri con me i tour a tema</h3>  
      <h3>Scopri con me i tour a tema</h3> 
  
    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary6" aria-expanded="false" aria-controls="collapseItinerary6">
          <p>Brescia,</p> 
          <p>percorsi sulle donne</p>
        </button>
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->

    <div class="row">
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary7" aria-expanded="false" aria-controls="collapseItinerary7">
          <p>Brescia, itinerari storici</p> 
          <p>sui luoghi della Repubblica Sociale Italiana e dei partigiani</p>
        </button>
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->
    
  </div>
  
  
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
