<!-- views/itinerarididattici.ejs -->

<%- include('partials/head'); %>
<title>Itinerari didattici - Maddalena Carnaghi - La mia guida di Brescia</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Itinerari didattici</h1>
    <h2 class="homeTitle">Percorsi didattici per le scuole</h2>
    <h2 class="homeTitle">pensati studiando i programmi ministeriali.</h2>
    <br>
      <h3 class="smallFont">Essendo un’insegnante penso di avere l’approccio perfetto</h3>
      <h3 class="smallFont">per accompagnare gli studenti di ogni ordine e grado</h3>
    <br>
      <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Itinerari didattici " class="btn btn-custom2">Prenota - Itinerari didattici</a>
  </div> <!-- /main col -->
</div> <!-- /row -->




<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
