<!-- views/itineraritema.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<title>Maddalena Carnaghi - La mia guida di Brescia - Itinerari tematici</title>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Brescia, Itinerari tematici</h1>
    <h1 class="homeSubTitle">una Brescia inedita ti attende</h1>
    <br>
      <h3 class="smallFont">Avete voglia di essere guidati nella scoperta della città, delle collezioni, dei monumenti o di guardare ciò che già conoscete con occhi diversi?</h3> 
  </div> <!-- /main col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="pinacoteca">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">La Pinacoteca Tosio-Martinengo</h3>
    <h4 class="homeSubTitle">Passeggiando nel palazzo alla scoperta dei capolavori</h4>
    <img src="images/brescia_it_pinacoteca.jpg" class="img-fluid img-custom" alt="Itinerari tematici - La Pinacoteca Tosio-Martinengo - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 2h</h6>
    <h6><em>Adatto per:</em> tutti e ancor di più per gli appassionati di pittura.</h6>
    <h6><em>Cosa si visita:</em> Le opere più significative della Pinacoteca Tosio-Martinengo.</h6>
    
    <div class="accordion mb-3" id="description4a">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4a">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4a" aria-expanded="true" aria-controls="collapse4a">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse4a" class="accordion-collapse collapse" aria-labelledby="heading4a" data-bs-parent="#description4a">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> alla National Gallery di Londra si ammirano opere dei nostri maestri bresciani del ‘500..mentre noi li abbiamo in uno spazio superlativo che forse non è abbastanza conosciuto. Il nuovo restauro e allestimento, avvenuto nel 2018, ha restituito l’aspetto della dimora signorile, sia per il percorso circolare, sia per l’illuminazione, la scansione degli spazi e le controsoffittature. In questo contesto nobile ed elegante, le cui pareti vellutate offrono colori in dialogo coi colori contenuti nei quadri, si presenta una collezione di eccezionale valore. Si parte dal maestro della pittura bresciana, Vincenzo Foppa, si passa alla visione di due piccole e delicatissime opere di Raffaello giovane, si attraversa la grande pittura lombarda del ‘500 coi capolavori di Romanino, Moretto, Lotto e Savoldo, si giunge davanti al complesso ciclo di Padernello del Pitocchetto e si prosegue in un susseguirsi di meraviglia fino a chiudere il percorso con capolavori di Hayez e Canova.</h6>
            <h6><em><strong>Attenzione</strong></em> è consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Pinacoteca Tosio-Martinengo" class="btn btn-custom2">Prenota Brescia - La Pinacoteca Tosio-Martinengo</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="castello">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Il castello ovvero Il Falcone d’Italia</h3>
    <h4 class="homeSubTitle">La massima difesa della città e il controllo da parte dei nemici</h4>
    <img src="images/brescia_it_castello.jpg" class="img-fluid img-custom" alt="Itinerari tematici - Il castello ovvero Il Falcone d’Italia - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <h6><em>Durata:</em> 2h</h6>
    <h6><em>Adatto per:</em> tutti coloro che hanno voglia di capire com’è cambiata la difesa di un baluardo militare nei secoli e la storia della nostra città. Si camminerà un po’!</h6>
    <h6><em>Cosa si visita:</em> il castello in lungo e in largo passando dai ponti levatoi, il mastio, le cannoniere e le torri. Solo visite in esterno, non sono previsti i musei.</h6>
    
    <div class="accordion mb-3" id="description4b">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4b">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4b" aria-expanded="true" aria-controls="collapse4b">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse4b" class="accordion-collapse collapse" aria-labelledby="heading4b" data-bs-parent="#description4b">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> quante cose si possono scoprire della difesa militare divertendosi! Esplorando dalla porta principale di entrata al castello, sino alla discesa per la Porta del Soccorso, si può comprendere la funzione di ogni particolare e com’è cambiata la difesa a seguito dell’arrivo della polvere da sparo. Culmine dell’esperienza sarà la conoscenza della parte più antica: il Mastio visconteo che nasconde un cuore romano ancora più arcaico. Il viaggio nel tempo prosegue percorrendo le mura che permettono di rivivere i momenti più importanti in cui la città è stata conquistata dai francesi  imperiali nel 1512 e dagli austriaci durante le X giornate del 1849 (proprio perché gli invasori dominavano il castello!).</h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Il castello" class="btn btn-custom2">Prenota Brescia - Il castello</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="vittoria">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">I percorsi sulle donne</h3>
    <h4 class="homeSubTitle">Quattro percorsi per riscoprire i volti delle donne celati dalla città</h4>
    <img src="images/brescia_it_donne.jpg" class="img-fluid img-custom" alt="Itinerari tematici - I percorsi sulle donne - Maddalena Carnaghi - La mia guida di Brescia">
    <br><br>
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em></h6>
    <h6>Opzione 1 - I volti delle donne nel Museo di Santa Giulia.</h6>
    <h6>Opzione 2 - I volti delle donne e le donne protagoniste nella Pinacoteca Tosio-Martinengo</h6>
    <h6>Opzione 3 - Le donne che raccontano sé stesse e la loro vita a Brescia</h6>
    <h6>Opzione 4 - le donne che hanno fatto la Resistenza</h6>
    
    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - I percorsi sulle donne" class="btn btn-custom2">Contattami per saperne di più</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="pinacoteca">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">L’amore in ogni angolo</h3>
    <h4 class="homeSubTitle">Episodi salienti della storia cittadina attraverso le vicissitudini amorose di alcuni protagonisti</h4>
    <img src="images/brescia_it_amore.jpg" class="img-fluid img-custom" alt="Itinerari tematici - L’amore in ogni angolo - Maddalena Carnaghi - La mia guida di Brescia">>
    <br><br>
    <h6><em>Durata:</em> 1h e 45 minuti</h6>
    <h6><em>Adatto per:</em> tutti coloro che hanno voglia di scoprire il lato umano di alcuni personaggi che hanno contribuito alla storia della nostra città e alcune storie d’amore che hanno avuto Brescia come scenario.</h6>
    <h6><em>Cosa si visita:</em>  luoghi che sono stati scenario degli amori, spesso contrastati, tra alcuni dei protagonisti della storia della città. Dall’alto medioevo, passando per il periodo delle signorie, amori in convento sul finir del Seicento, la grande stagione dei salotti del Settecento, per proseguire con l’eroe delle X Giornate e due protagonisti del Novecento bresciano. </h6>
    
    <div class="accordion mb-3" id="description4d">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4d">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4d" aria-expanded="true" aria-controls="collapse4d">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse4d" class="accordion-collapse collapse" aria-labelledby="heading4dc" data-bs-parent="#description4d">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> a città dell’amore è la vicina Verona...ma è felice e a lieto fine la storia famosa che la città veneta custodisce? Se romantica è Verona, lo stesso può esserlo la nostra Brescia! Storie struggenti, non sempre dal finale felice (anzi!) ma con notevoli colpi di scena che ci permetteranno, anche se con leggerezza, di ripercorrere alcuni momenti salienti della storia cittadina e di conoscere più da vicino alcuni dei suoi protagonisti.</h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - L'amore in ogni angolo" class="btn btn-custom2">Prenota Brescia - L'amore in ogni angolo</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
