<!-- views/itinerarilaghi.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  
  <div class="col-10"> <!-- main col -->
    <h1 class="homeTitle">Gli tinerari dei laghi</h1>
    <br>
      <h3 class="smallFont">Brescia, la mia città,</h3>
      <h3 class="smallFont">si presta a diversi tipi di visite guidate,</h3>
      <h3 class="smallFont">Scopri con me i tour dei laghi</h3> 
      <h3 class="smallFont">potrai trascorrere un giorno intero sul Lago di Garda,</h3>  
      <h3 class="smallFont">tra Sirmione, per esempio alle Grotte di Catullo, Desenzano</h3> 
      <h3 class="smallFont">oppure visitare Salò o al Vittoriale, magari navigando tra le sponde</h3>
      <h3 class="smallFont">Così anche per il Lago d’Iseo dove propongo</h3> 
      <h3 class="smallFont">un tour che accosta la bellezza del paesaggio alla storia del luogo</h3>

    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent1" aria-controls="collapseContent1">
          <h3 class="smallFont">Per scoprire</h3>
          <h3 class="smallFont">il Lago di Garda</h3>
        </button>
        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Sirmione da scoprire in lungo e in largo: molto di più del solito giretto</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore e mezza</h6>
            <h6>Adatto per: tutti! Il Parco archeologico ha dei punti con dislivelli e ghiaia che è meglio percorrere con scarpe sportive </h6>
            <h6><strong>Attenzione</strong> è necessaria la prenotazione alla Rocca Scaligera e alle Grotte di Catullo per i gruppi al seguente link:  link: <a class="link-opacity-100" href="https://museidelgarda.ticka.it/">Ticket Musei del Garda</a></h6>
            <h6>Cosa si visita: Parco archeologico denominato “Grotte di Catullo”, Rocca Scaligera, il borgo, il lungolago, la chiesa di Santa Maria Maggiore e la Cappella di Sant’Anna al Ponte. È possibile anche un itinerario più breve che non entra nel castello e nel parco archeologico</h6>

            <div class="accordion mb-3" id="description1a">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1a">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1a" aria-expanded="true" aria-controls="collapse1a">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1a" class="accordion-collapse collapse" aria-labelledby="heading1a" data-bs-parent="#description1a">
                  <div class="accordion-body">
                    <p>Sirmione, definita “perla” dal poeta Catullo, è davvero un luogo magico in cui la bellezza della natura incontra la valorizzazione che gli uomini del periodo romano e medievale hanno saputo renderle. È davvero speciale percorrere le viuzze in cui si riverbera il lago e scoprire insieme il periodo della fondazione scaligera del castello, la struttura della chiesetta ridossata sulle mura e l’enorme villa romana incredibilmente incastonata sulla punta della penisola. Durante la passeggiata sul lungolago si potrà inoltre commentare la varietà del paesaggio lacuale, le proprietà dell’acqua della fonte di Boyola e scorgere la casa di Maria Callas.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Visita a Sirmione" class="btn btn-custom2">Prenota - Visita a Sirmione</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Desenzano da fundus romano a grande mercato</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 1/2, 2 ore</h6>
            <h6>Adatto per: tutti!</h6>
            <h6><strong>Attenzione</strong> è necessaria la prenotazione alla Villa Romana per i gruppi al seguente link:  link: <a class="link-opacity-100" href="https://museidelgarda.ticka.it/">Ticket Musei del Garda</a></h6>
            <h6>Cosa si visita: Parco archeologico della Domus Romana, Chiesa di Santa Maria Maddalena, Piazza Malvezzi, Porto Vecchio e Castello</h6>

            <div class="accordion mb-3" id="description1b">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1b">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1b" aria-expanded="true" aria-controls="collapse1b">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1b" class="accordion-collapse collapse" aria-labelledby="heading1b" data-bs-parent="#description1b">
                  <div class="accordion-body">
                    <p>Descrizione: è un viaggio nel tempo che riserva sorprese anche a chi conosce la città più popolosa del lago. A partire dalla Villa Romana che offre, non solo bellissimi mosaici, ma anche un’idea di come vivevano gli antichi romani e uno spaccato dell’evoluzione della villa romana. Percorrendo una stretta viuzza, si giunge alla chiesa di Santa Maria Maddalena: bellissima chiesa che offre un gioiello assoluto. Si tratta dell’Ultima Cena di Gian Battista Tiepolo. La porta laterale della chiesa si  rivolge verso la piazza centrale che permette di conoscere la storia di Sant’Angela Merici e le vicessitudini che si sono alternate nella piazza Malvezzi. Immancabile è la spiegazione del Porto Vecchio e, per chi non è ancora stanco, la salita al Castello ricetto.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Visita a Desenzano" class="btn btn-custom2">Prenota - Visita a Desenzano</a>
        </div> <!-- /content row -->
        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Salò l’eleganza e la tranquillità</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora e mezza</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: visita di soli esterni che comprende Piazza Carmine, la porta d’entrata all’antico borgo, i palazzi e le ville usate nel periodo della Repubblica Sociale Italiana, la superba chiesa di Santa Maria, il palazzo della Magnifica Patria, i palazzi sul lungolago e le statue di due dei maggiori protagonisti.</h6>

            <div class="accordion mb-3" id="description1c">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1c">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1c" aria-expanded="true" aria-controls="collapse1c">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1c" class="accordion-collapse collapse" aria-labelledby="heading1c" data-bs-parent="#description1c">
                  <div class="accordion-body">
                    <p>Salò permette di comprendere piacevolmente lo sviluppo del Lago di Garda nella storia da un punto di vista privilegiato: un golfo bellissimo e mantenuto nella sua bellezza con costruzioni eleganti che vanno dal Medioevo a inizio Novecento. La passeggiata sul lungolago è davvero rilassante e permette di scoprire gli edifici usati durante il periodo della Repubblica Sociale Italiana, così come anche lo stile Liberty dei bei palazzi affacciati sul lago e lo straordinario Palazzo della Magnifica Patria. La Chiesa di Santa Maria Assunta è un vero gioiello del Rinascimento e al suo interno si possono ammirare, oltre ad un congiunto architettonico straordinario, opere di Zenon Veronese, Romanino e Andrea Celesti. Per non parlare del Cristo ligneo ritenuto da Andrea Mantegna il più bello mai visto.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Visita a Salò" class="btn btn-custom2">Prenota - Visita a Salò</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Il Vittoriale degli Italiani...il luogo che più amo del lago</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore/ 2 e mezza</h6>
            <h6>Adatto per: camminatori. Il percorso prevede dislivelli e terreno irregolare. Meglio indossare scarpe da ginnastica.</h6>
            <h6><strong>Attenzione</strong> è necessaria la prenotazione al Vittoriale degli Italiani al seguente link: <a class="link-opacity-100" href="https://bottega.vittoriale.it/#/">Ticket Museo del Vittoriale degli Italiani</a></h6>
            <h6>Cosa si visita: visita di soli esterni che comprende Piazza Carmine, la porta d’entrata all’antico borgo, i palazzi e le ville usate nel periodo della Repubblica Sociale Italiana, la superba chiesa di Santa Maria, il palazzo della Magnifica Patria, i palazzi sul lungolago e le statue di due dei maggiori protagonisti.</h6>

            <div class="accordion mb-3" id="description1d">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1d">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1d" aria-expanded="true" aria-controls="collapse1d">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1d" class="accordion-collapse collapse" aria-labelledby="heading1d" data-bs-parent="#description1d">
                  <div class="accordion-body">
                    <p>Su Gabriele d’Annunzio si sanno e si dicono tante cose ma il percorso nel suo parco è un modo per sfatare alcuni miti comprendere bene le sue idee, le sue ossessioni e le sue imprese. La passeggiata permette infatti di capire il difficile rapporto con Mussolini, il suo ruolo di leader carismatico, così come le imprese su Vienna, a Buccari o a Fiume. Oltre alla parte storica, visitare il parco che lui considerava come “un libro di pietra” permette di conoscere anche la sua ironia, i suoi riferimenti storico-artistici e, grazie anche ad aneddoti, cogliere la sua vita spinta al massimo.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Visita al Vittoriale degli Italiani" class="btn btn-custom2">Prenota - Visita al Vittoriale degli Italiani</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Tour in barca</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Il tour in barca si può creare in base alle tue esigenze: può durare mezz’ora attorno alla penisola di Sirmione, può durare un’ora e mezza fino all’Isola del Garda o può durare 3 ore o più, bordeggiando le sponde del Benaco. Nel caso di tour lunghi si può esplorare la riviera occidentale e lombarda, ammirando il Vittoriale e il Golfo di Salò e, sulla sponda opposta, quella orientale, ammirare le meravigliose ville incastonate sulla riviera scoscesa e naturale e la magnifica Punta San Vigilio. Scrivimi per saperne di più!</h6>

            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Tour in barca" class="btn btn-custom2">Prenota - Tour in barca</a>
        </div> <!-- /content row -->
                        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->

    <div class="row">
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent2" aria-expanded="false" aria-controls="collapseContent2">
          <h3 class="smallFont">Per scoprire</h3> 
          <h3 class="smallFont">il Lago d’Iseo</h3>
        </button>

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Il tour del lago d'Iseo</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: mezza giornata od una giornata intera</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: visita di Iseo e percorso in barca, possibilmente con il tour delle tre isole, verso Montisola. Passeggiata sul lungolago di Peschiera Maraglio.</h6>

            <div class="accordion mb-3" id="description2a">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2a">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2a" aria-expanded="true" aria-controls="collapse2a">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse2a" class="accordion-collapse collapse" aria-labelledby="heading2a" data-bs-parent="#description2a">
                  <div class="accordion-body">
                    <p>Iseo è una perla del Medioevo: è meraviglioso perdersi tra le sue viuzze per scoprirne la piazza con il monumento a Garibaldi, la piccola chiesetta del Mercato e poi proseguire verso la Pieve di Sant’Andrea dal caratteristico aspetto medievale. Nella piazza del sagrato c’è un altro tesoro: la Chiesa di San Giorgio con una inedita danza macabra. È possibile continuare la visita verso il castello o scendere verso la piazza dove si riunivano le lavandaie e conoscere l’Arsenale veneziano. La scoperta del lago prosegue imbarcandosi al fine di raggiungere la più grande isola lacustre abitata d’Europa: MonteIsola. Giunti a Peschiera Maraglio, una passeggiata permette di conoscere come si viveva in passato sull’isola: gli antichi mestieri, le imbarcazioni e i cibi tradizionali. Una piacevolissima camminata accompagnerà il visitatore alla scoperta del lago, degli antichi castelli e a scorgere l’Isola di San Paolo.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota - Tour del lago d'Iseo" class="btn btn-custom2">Prenota - Tour del lago d'Iseo</a>
        </div> <!-- /content row -->
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->
  
  </div>
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
