<!-- views/itinerariclassici.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<div class="row pt-3 pb-5">
  <div class="col"></div>
  
  <div class="col-sm-10">
    <h1 class="homeTitle">Itinerari</h1>
    <br>
      <h3>Brescia, la mia città, si presta a diversi tipi di visite guidate: tour di mezza giornata o di una giornata intera, itinerari storici tra il Castello e il centro della città, visite guidate al Parco archeologico e al Museo di Santa Giulia. Lo stesso vale per la provincia: si può trascorrere un giorno intero sul Lago di Garda, tra Sirmione, per esempio alle Grotte di Catullo, Desenzano, Salò o al Vittoriale, magari navigando tra le sponde, o una mezza giornata. Così anche per il Lago d’Iseo dove propongo un tour che accosta la bellezza del paesaggio alla storia del luogo…. (segue)</h3>
      
      <p class="lead">
        <button class="btn btn-lg btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary" aria-expanded="false" aria-controls="collapseItinerary">
          Scopri di più
        </button>
      </p>
  
  
    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary1" aria-expanded="false" aria-controls="collapseItinerary1">
          Brescia, il modo migliore per conoscerla. Itinerario classico ma per niente noioso
        </button>
        
        <div class="row collapse my-5" id="collapseItinerary1">
            <h5>Brescia - Visita alle piazze della città</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: Piazza Foro, Piazza Paolo VI, Piazza Loggia e Piazza Vittoria</h6>
            <h6>Monumenti in esterno: Parco Archeologico dell’antica Brixia che comprende il podio del Tempio di età Imperiale e  il Teatro (nei giorni e gli orari in cui il museo è aperto, la visita a questi spazi è libera e gratuita),  la colonna rimasta dell’antico Foro (e, se si ha tempo, la Basilica); Il Broletto e il Duomo Vecchio (coerentemente con gli orari di apertura della chiesa si visita l’interno) e il Duomo Nuovo; Il Palazzo della Loggia, Il Monte di Pietà, Le carceri, Il Monumento alla Bella Italia, L’orologio e il Monumento ai caduti di Piazza della Loggia; Piazza della Vittoria con panoramica d’insieme.</h6>

            <div class="accordion mb-3" id="description1">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#description1">
                  <div class="accordion-body">
                    <p>Il grande storico dell’arte, Philippe Daverio disse che passeggiare per Brescia significa immergersi nella storia e avere la possibilità di riconoscere bene gli strati del tempo e i passaggi di stile. (leggi di più) Ecco che, in una piacevole e breve passeggiata, si può evincere la struttura ortogonale romana della città e il suo cuore, il Foro. Si prosegue immergendosi nel Basso Medioevo passando attraverso La Torre d’Ercole, la chiesetta di San Marco per giungere all’impressionante Broletto, centro nevralgico della città nell’Età Media. Nella piazza, gli altri edifici di rappresentanza medievale erano le antiche cattedrali, di cui ancora visibile quella dedicata a Santa Maria Maggiore. Si tratta di una chiesa straordinaria, di un vero gioiello romanico mai abbastanza valorizzato. Entrando nella chiesa, compatibilmente agli orari di visita, si viene accolti dalla più bella scultura degli inizi del XIV secolo, la tomba di Berardo Maggi, e si viene avvolti da un volume enorme e inaspettato: la chiesa misura 36 metri di diametro e oggi rappresenta un unicum in Italia. Le sorprese che questo luogo incantato offre non sono finite...ma non te le posso raccontare tutte adesso! Si prosegue poi per la piazza fortemente voluta dai veneziani nella seconda metà del Quattrocento. È una piazza rinascimentale bellissima! Sembra di essere a Venezia! I primi a dare il benvenuto alla Piazza, anche se di spalle, sono i due automi che si trovano sull’orologio, chiamati dai bresciani Tone e Batista. Si prosegue alla scoperta di tutti gli elementi del rinascimento veneto per poi passare alla conoscenza del Monumento dedicato alle X giornate di Resistenza di Brescia sotto l’occupazione austriaca e il Monumento dedicato ai caduti a seguito dello scoppio della bomba nella piazza il 28 maggio 1974. Si passa vicino al primo Museo lapidario all’aperto d’Italia e si attraversa una bellissima loggetta che conduce alla Piazza Vittoria. Piazza costruita tra il 1929 e il 1932, a seguito dello sventramento dell’antico quartiere medievale delle pescherie. È una piazza di inizio ‘900 con tutti gli edifici più rappresentativi: le poste, l’assicurazione, la banca e ospita anche il primo grattacielo in cemento armato d’Italia.</p>
                  </div>
                </div>
              </div>  
            </div>

            
            <a href="#" class="btn btn-primary">Prenota Brescia - Visita alle piazze della città</a>
        
        
        </div>

        <div class="row collapse my-5" id="collapseItinerary1">
            <h5>Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata</h5>
            <img src="images/image9.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: Il Parco comprende la visita alla cella di un tempio di età Repubblicana perfettamente conservata; il podio e il pavimento del Tempio di età Flavia, la visita alla Vittoria alata, la visita al primigenio Museo Patrio e il teatro.</h6>
            <h6>È necessaria la prenotazione: per preservare lo splendido stato di conservazione del sito si entra in gruppi contingentati ogni venti minuti. È quindi bene prenotare, anche per la guida (che ha un biglietto gratuito ma va contata) al seguente link: </h6>
            <p>Descrizione: un autentico viaggio nel tempo! Si parte proprio da un video che porta indietro nel tempo e, in 4 minuti, illustra l’evoluzione che ha avuto questo luogo che è sempre stato considerato il centro sacro della città, ancor prima dell’arrivo dei romani. (leggi di più) Si visita una cella di un tempio di età Repubblicana, davvero un ritrovamento eccezionale per il Nord d’Italia e che dimostra la precocissima romanizzazione della zona. Ci si reca poi nella sala, recentemente ripensata per valorizzare il tesoro che custodisce, che ospita la Vittoria Alata, statua romana del Primo secolo D. C. in bronzo, eretta a simbolo della città. Un’opera di eccezionale bellezza, che provoca indescrivibili emozioni e che ci permette di raccontare l’età Flavia, il culto della Vittoria e di ipotizzare che fosse stata posta proprio per celebrare la battaglia che rese Vespasiano imperatore. Si passa così alla conoscenza del tempio di età imperiale, voluto da Vespasiano e il suo rifacimento e completamento Ottocentesco e Novecentesco. Si conclude con la visita al teatro, in gran parte tornato alla luce grazie alla campagna di scavi attuata nel 2023.</p>
            <a href="#" class="btn btn-primary">Prenota Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata</a>
        </div>

        <div class="row collapse my-5" id="collapseItinerary1">
            <h5>Brescia - Visita al Museo di Santa Giulia</h5>
            <h6>Durata: 1 ora e mezza, 2 ore</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: i reperti più significativi contenuti nel Museo della città. Imprescindibili: i bronzi, le Domus dell’Ortaglia, La chiesa di San Salvatore e la sua cripta, il Coro delle Monache e Santa Maria in Solario</h6>
            <h6>  necessaria la prenotazione necessaria la prenotazione per gruppi ed è consigliata per i singoli al seguente link: </h6>
            <p>Descrizione: normalmente quando si pensa un museo si visualizza un contenitore di opere uniche, belle, importanti. Il nostro è molto di più: è un Monastero voluto dalla moglie dell’ultimo Re Longobardo, Desiderio, nell’VIII secolo. (leggi di più) E si è conservato come monastero nel tempo, ampliandosi per esempio di un sacello del XII secolo, Santa Maria in Solario, che oggi ospita il tesoro del Monastero e, a fine Quattrocento, di un Coro per le Monache dipinto negli anni Trenta del secolo successivo. Indagando nell’orto delle monache, si sono trovate delle domus romane molto ben conservate anche per quanto riguarda gli alzati. Il Museo di Santa Giulia fa parte dei beni Unesco, si estende su oltre 14:000 mq e presenta 12.000 opere dalla preistoria all’età rinascimentale.</p>
            <a href="#" class="btn btn-primary">Prenota Brescia - Visita al Museo di Santa Giulia</a>
        </div>
        
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary2" aria-expanded="false" aria-controls="collapseItinerary2">
          Brescia, itinerari storici. Approfondimenti per tutti i gusti e di tutte le epoche
        </button>
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary3" aria-expanded="false" aria-controls="collapseItinerary3">
          Brescia, visite guidate per le scuole. Percorsi studiati sui programmi ministeriali per ogni scuola di ogni ordine e grado
        </button>
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary4" aria-expanded="false" aria-controls="collapseItinerary4">
          Per scoprire il Lago di Garda
        </button>
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary5" aria-expanded="false" aria-controls="collapseItinerary5">
          Per scoprire il Lago d’Iseo
        </button>
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary6" aria-expanded="false" aria-controls="collapseItinerary6">
          Brescia, percorsi sulle donne
        </button>
      </div>
    </div>

    <div class="row collapse" id="collapseItinerary">
      <div class="col-sm">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary7" aria-expanded="false" aria-controls="collapseItinerary7">
          Brescia, itinerari storici sui luoghi della Repubblica Sociale Italiana e dei partigiani
        </button>
      </div>
    </div>
    
  </div>
  
  
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
