<!-- views/itinerarididattici.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Itinerari didattici</h1>
    <br>
      <h3 class="smallFont">Percorsi didattici per le scuole: pensati studiando i programmi ministeriali.</h3>
      <h3 class="smallFont">Essendo un’insegnante penso di avere l’approccio perfetto</h3>
      <h3 class="smallFont">per accompagnare gli studenti di ogni ordine e grado</h3>
  
    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent3" aria-expanded="false" aria-controls="collapseContent3">
          <h3 class="smallFont">Brescia, visite guidate per le scuole</h3>
          <h3 class="smallFont">Percorsi studiati sui programmi ministeriali per ogni scuola di ogni ordine e grado</h3>
        </button>
        
        <!-- content row -->
        <!-- /content row -->
      
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->

    
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
