<!-- views/itinerarilaghi.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"></div>
  
  <div class="col-10"> <!-- main col -->
    <h1 class="homeTitle">Gli tinerari dei laghi</h1>
    <br>
      <h3>Brescia, la mia città,</h3>
      <h3>si presta a diversi tipi di visite guidate,</h3>
      <h3>Scopri con me i tour dei laghi</h3> 
      <h3>potrai trascorrere un giorno intero sul Lago di Garda,</h3>  
      <h3>tra Sirmione, per esempio alle Grotte di Catullo, Desenzano</h3> 
      <h3>oppure visitare Salò o al Vittoriale, magari navigando tra le sponde</h3>
      <h3>Così anche per il Lago d’Iseo dove propongo</h3> 
      <h3>un tour che accosta la bellezza del paesaggio alla storia del luogo</h3>
      
    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary4" aria-expanded="false" aria-controls="collapseItinerary4">
          <p>Per scoprire</p> 
          <p>il Lago di Garda</p>
        </button>
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->

    <div class="row">
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-sm btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItinerary5" aria-expanded="false" aria-controls="collapseItinerary5">
          <p>Per scoprire</p> 
          <p>il Lago d’Iseo</p>
        </button>
        
        <!-- content row -->
        <!-- /content row -->
        
      </div> <!-- /col-10 -->
    </div> <!-- /Itinerary row -->
  
  </div>
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
