<!-- views/itineraristorici.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Brescia, itinerari storici</h1>
    <h1 class="homeSubTitle">Approfondimenti per tutti i gusti e di tutte le epoche</h1>
    <br>
      <h3 class="smallFont">Brescia, la mia città, si presta a diversi tipi di visite guidate. Scopri con me i tour di mezza giornata o di una giornata intera</h3> 
      <h3 class="smallFont">itinerari storici tra il Castello e il centro della città,</h3> 
      <h3 class="smallFont">visite guidate al Parco archeologico e al Museo di Santa Giulia.</h3>
  </div> <!-- /main col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerari romani</h3>
    <h4 class="homeSubTitle">da Galli a Romani è un attimo</h4>
    <img src="images/brescia_it_romano.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> appassionati di arte romana, chi è interessato ad approfondire l’evoluzione dell’arte nel momento del contatto tra le popolazioni celtiche e i romani e vuole capire come vivevano, com’era Brixia.</h6>
    <h6><em>Cosa si visita:</em></h6> 
    <h6>Opzione 1 - il Parco archeologico di Brixia (con la visita alla cella di un tempio di età Repubblicana perfettamente conservata; la visita alla Vittoria alata, la visita al primigenio Museo Patrio)</h6>
    <h6>Opzione 2 - può svolgersi  anche solo in esterno senza l’acquisto di un biglietto e, in questo caso, si visitano il pronao e il teatro del Parco archeologico di Brixia, la colonna del foro romano, la basilica, un cardo ed eventualmente lacerti delle terme romane</h6>
    <h6>Opzione 3 - La sezione romana del Museo di Santa Giulia.</h6>
    
    <div class="accordion mb-3" id="description2a">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2a">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2a" aria-expanded="true" aria-controls="collapse2a">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse2a" class="accordion-collapse collapse" aria-labelledby="heading2a" data-bs-parent="#description2a">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Brixia, capitale della Gallia Cisalpina, decide di entrare molto presto nell’orbita romana e, a differenza di altre tribù celtiche, si romanizza precocemente. Questo comporta la possibilità di visitare affreschi già del periodo repubblicano e di seguirne poi l’evoluzione nel tempo. In special modo sono visibili mosaici davvero ben conservati che mostrano anche le capacità tecniche delle maestranze locali; è possibile comprendere bene le strutture abitative dei cittadini più ricchi, le domus, grazie anche alla buona conservazione degli alzati e l’ottima conservazione dei pavimenti. È inoltre possibile vedere il sistema di riscaldamento attivo nella città romana, l’ipocausto, e la divisione degli ambienti e i loro usi.</h6>
            <h6><em><strong>Attenzione</strong></em> è necessaria la prenotazione se si vuole visitare il Parco archeologico di Brixia giacché, per preservare lo splendido stato di conservazione del sito, si entra in gruppi contingentati ogni venti minuti. È quindi bene prenotare, anche per la guida (che ha un biglietto gratuito ma va contata) al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari romani" class="btn btn-custom2">Prenota Brescia - Itinerari romani</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerari alto medievali</h3>
    <h4 class="homeSubTitle">Un vero e proprio ducato longobardo</h4>
    <img src="images/brescia_it_altomedioevo.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> appassionati di arte longobarda, per chi vuole scoprire meglio le nostre origini e per chi vuole sfatare il mito dei barbari invasori.</h6>
    <h6><em>Cosa si visita:</em> La visita guidata si svolge all’interno della sezione longobarda del Museo di Santa Giulia ma, se si ha tempo, potrebbe continuare e terminare in Piazza Vittoria, in corrispondenza di dove si trovava la Curia Ducis</h6>
    
    <div class="accordion mb-3" id="description2b">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2b">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2b" aria-expanded="true" aria-controls="collapse2b">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse2b" class="accordion-collapse collapse" aria-labelledby="heading2b" data-bs-parent="#description2b">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> Partendo dalle tombe, si approfondirà l’origine della popolazione longobarda. Si ripercorrerà il viaggio iniziato in Scania, il passaggio per la Pannonia e il momento del varco delle Alpi Giulie; attraverso gli oggetti del corredo si analizzeranno i loro usi e costumi. Si passerà poi alla conoscenza dei manufatti metallici e delle scritte incise sulle lastre. In ultimo, si entrerà nell’incredibile chiesa di San Salvatore. Si comprenderà la sua evoluzione, il senso per cui è stata costruita e tutti gli apparati decorativi di cui era composta. Anche se carolingia, si consiglia la visita della Croce detta di Desiderio.</h6>
            <h6><em><strong>Attenzione</strong></em> é consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari alto medievali" class="btn btn-custom2">Prenota Brescia - Itinerari alto medievali</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerario basso medievale</h3>
    <h4 class="homeSubTitle">Più romanico di così non si può!</h4>
    <img src="images/brescia_it_bassomedioevo.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> per chi vuole saperne di più sul Medioevo a Brescia.</h6>
    <h6><em>Cosa si visita:</em> La visita guidata si svolge in esterno per la città. Santa Maria in Solario, la Torre d’Ercole, San Marco, Il Broletto, il Duomo Vecchio e San Faustino in Riposo.</h6>
    
    <div class="accordion mb-3" id="description2c">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2c">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2c" aria-expanded="true" aria-controls="collapse2c">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse2c" class="accordion-collapse collapse" aria-labelledby="heading2c" data-bs-parent="#description2c">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> la visita inizia da Piazza Tebaldo Brusato che esemplifica il concetto di piazza nell’Età Media e delle mura;  si prosegue con il concetto di monastero, esemplificato dalla visione di  Santa Maria in Solario, sacello appartenente al Monastero di Santa Giulia e dalla ricostruzione dei suoi ambiti (i chiostri, lo xenodochio) per poi passare per la Torre d’Ercole  e quindi soffermarsi sulla struttura della casa medievale (due esempi in via Carlo Cattaneo) e approdare in Piazza Paolo VI dove si approfondiranno il ruolo del Broletto e dell’antica cattedrale dedicata a Santa Maria Maggiore (Duomo Vecchio). Immancabile la scoperta della chiesa di San Faustino in Riposo in esterno con la sua suggestiva copertura. (per chi ha 40 minuti in più visita alla Chiesa di San Francesco).</h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari basso medievali" class="btn btn-custom2">Prenota Brescia - Itinerari basso medievali</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerari rinascimentali</h3>
    <h4 class="homeSubTitle">Tra I precursori di Caravaggio e l’architettura veneta</h4>
    <img src="images/brescia_it_rinascimentale.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em>tutti!</h6>
    <h6><em>Cosa si visita:</em></h6>
    <h6>Opzione 1 - Visita alla Pinacoteca Tosio Martinengo : il modo migliore per immergersi nella pittura cinquecentesca lombarda.</h6>
    <h6>Opzione 2 - Percorso tra la pittura e l’architettura del Rinascimento.  Visita di una delle chiese che meglio offrono la possibilità di conoscere il Cinquecento lombardo in pittura (Cappella del Santissimo Sacramento nella Chiesa di San Giovanni Evangelista  o chiesa di San Cristo) e Piazza della Loggia.</h6>
    <h6>Opzione 3 - Percorso relativo all’architettura del Rinascimento veneto. Visita a Piazza della Loggia, all’esterno della Chiesa di Santa Maria dei Miracoli e all’abside del Duomo Vecchio.</h6>
    <h6>Opzione 4 - Percorso dedicato alla Terza via della pittura cinquecentesca. Cappella del Santissimo sacramento nella Chiesa di San Giovanni, chiesa del Santissimo Corpo di Cristo, abside del Duomo Vecchio e la collegiata dei Santi Nazaro e Celso con il polittico di Tiziano.</h6>
        
  </div> <!-- /content col -->
</div> <!-- /row -->


<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerari settecenteschi</h3>
    <h4 class="homeSubTitle"> Il Grand Tour a braccetto con Angelo Maria Querini</h4>
    <img src="images/brescia_it_settecentesco.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em>tutti!</h6>
    <h6><em>Cosa si visita:</em>La sala centrale della Biblioteca Queriniana (a seconda degli orari e delle disponibilità), il Duomo Nuovo e la facciata di Palazzo Chiappa, Piazzetta Legnano con la Casa Vantini e la Chiesa della Carità. In alternativa alla biblioteca, se chiusa, visita alla scalinata del Convento di Santa Chiara o ai chiostri del Convento dei Santi Faustino e Giovita (per la visita a questi luoghi va fatta richiesta all’università).</h6>
    <h6><em><strong>Attenzione</strong></em> Se si è interessati al Rococò, il Ridotto del Teatro Grande è perfetto (ma ha aperture limitate al fine settimana e su prenotazione)</h6>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerario risorgimentale</h3>
    <h4 class="homeSubTitle">La Leonessa d'Italia, baluardo della lotta per l'unità d'Italia</h4>
    <img src="images/brescia_it_risorgimento.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> per chi vuole saperne di più sul Risorgimento a Brescia</h6>
    <h6><em>Cosa si visita:</em> Il Museo del Risorgimento detto “La Leonessa d’Italia”.</h6>
    
    <div class="accordion mb-3" id="description2g">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2a">
          <button class="accordion-button collapsed homeTitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2g" aria-expanded="true" aria-controls="collapse2g">
            <em>Scopri di più:</em> 
          </button>
        </h2>
        <div id="collapse2g" class="accordion-collapse collapse" aria-labelledby="heading2g" data-bs-parent="#description2g">
          <div class="accordion-body">
            <h6><em>Descrizione:</em> il Risorgimento spiegato in maniera chiara cercando di entrare il più possibile nelle emozioni di chi viveva in quel momento.</h6>
            <h6><em><strong>Attenzione</strong></em> é consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
          </div>
        </div>
      </div>  
    </div>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario risorgimentale" class="btn btn-custom2">Prenota Brescia - Itinerario risorgimentale</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->

<!-- Main row -->
<div class="row my-5 justify-content-center" id="vittoria">
  <div class="col"><!-- content col -->
            
    <h3 class="homeTitle">Brescia</h3>
    <h3 class="homeTitle">Itinerari sui luoghi della Repubblica Sociale Italiana e della Resistenza</h3>
    <h4 class="homeSubTitle"> Percorrere il passato per dare nuovo valore al nostro incidere nel presente</h4>
    <img src="images/brescia_it_rsi.jpg" class="img-fluid img-custom" alt="...">
    <br><br>
    <br><br>
    <h6><em>Durata:</em> 1h e mezza </h6>
    <h6><em>Adatto per:</em> tutti!</h6>
    <h6><em>Cosa si visita:</em></h6>
    <h6>Opzione 1 - Itinerario generale che accompagna tra i luoghi  dei partigiani, del potere repubblichino e della tortura per rievocare gli episodi salienti in cui si è compiuta la storia e dove è nata la Resistenza.</h6>
    <h6>Opzione 2 - Itinerario sui luoghi del potere della Repubblica sociale Italiana. I luoghi di repressione, di tortura, di spionaggio, di potere attraverso gli episodi e i personaggi salienti.</h6>
    <h6>Opzione 3 - Itinerario sui luoghi dei partigiani: i nascondigli, i partiti, i ciclostilati, le repressioni, gli aiuti narrati attraverso gli episodi e i personaggi salienti.</h6>
    <h6>Opzione 4 - Itinerario sui luoghi degli eccidi: gli ebrei e la deportazione il tribunale, La Loggetta, l’Ufi narrati attraverso gli episodi e i personaggi salienti.</h6>
    <h6>Opzione 5 - Itinerario sui luoghi delle donne della Resistenza.</h6>

    <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario Repubblica Sociale Italiana e Resistenza" class="btn btn-custom2">Prenota Brescia - Itinerario Repubblica Sociale Italiana e Resistenza</a>
        
  </div> <!-- /content col -->
</div> <!-- /row -->



<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
