<!-- views/itineraristorici.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col"><!-- main col -->
    <h1 class="homeTitle">Gli tinerari storici</h1>
    <br>
      <h3 class="smallFont">Brescia, la mia città, si presta a diversi tipi di visite guidate. Scopri con me i tour di mezza giornata o di una giornata intera</h3> 
      <h3 class="smallFont">itinerari storici tra il Castello e il centro della città,</h3> 
      <h3 class="smallFont">visite guidate al Parco archeologico e al Museo di Santa Giulia.</h3>
      
    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent1" aria-controls="collapseContent1">
          <h3 class="smallFont">Brescia, il modo migliore per conoscerla</h3>
          <h3 class="smallFont">Itinerario classico ma per niente noioso</h3>
        </button>
        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Brescia - Visita alle piazze della città</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>Cosa si visita: Piazza Foro, Piazza Paolo VI, Piazza Loggia e Piazza Vittoria</h6>
            <h6>Monumenti in esterno: Parco Archeologico dell’antica Brixia che comprende il podio del Tempio di età Imperiale e  il Teatro (nei giorni e gli orari in cui il museo è aperto, la visita a questi spazi è libera e gratuita),  la colonna rimasta dell’antico Foro (e, se si ha tempo, la Basilica); Il Broletto e il Duomo Vecchio (coerentemente con gli orari di apertura della chiesa si visita l’interno) e il Duomo Nuovo; Il Palazzo della Loggia, Il Monte di Pietà, Le carceri, Il Monumento alla Bella Italia, L’orologio e il Monumento ai caduti di Piazza della Loggia; Piazza della Vittoria con panoramica d’insieme.</h6>

            <div class="accordion mb-3" id="description1a">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1a">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1a" aria-expanded="true" aria-controls="collapse1a">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1a" class="accordion-collapse collapse" aria-labelledby="heading1a" data-bs-parent="#description1a">
                  <div class="accordion-body">
                    <p>Il grande storico dell’arte, Philippe Daverio disse che passeggiare per Brescia significa immergersi nella storia e avere la possibilità di riconoscere bene gli strati del tempo e i passaggi di stile. Ecco che, in una piacevole e breve passeggiata, si può evincere la struttura ortogonale romana della città e il suo cuore, il Foro. Si prosegue immergendosi nel Basso Medioevo passando attraverso La Torre d’Ercole, la chiesetta di San Marco per giungere all’impressionante Broletto, centro nevralgico della città nell’Età Media. Nella piazza, gli altri edifici di rappresentanza medievale erano le antiche cattedrali, di cui ancora visibile quella dedicata a Santa Maria Maggiore. Si tratta di una chiesa straordinaria, di un vero gioiello romanico mai abbastanza valorizzato. Entrando nella chiesa, compatibilmente agli orari di visita, si viene accolti dalla più bella scultura degli inizi del XIV secolo, la tomba di Berardo Maggi, e si viene avvolti da un volume enorme e inaspettato: la chiesa misura 36 metri di diametro e oggi rappresenta un unicum in Italia. Le sorprese che questo luogo incantato offre non sono finite...ma non te le posso raccontare tutte adesso! Si prosegue poi per la piazza fortemente voluta dai veneziani nella seconda metà del Quattrocento. È una piazza rinascimentale bellissima! Sembra di essere a Venezia! I primi a dare il benvenuto alla Piazza, anche se di spalle, sono i due automi che si trovano sull’orologio, chiamati dai bresciani Tone e Batista. Si prosegue alla scoperta di tutti gli elementi del rinascimento veneto per poi passare alla conoscenza del Monumento dedicato alle X giornate di Resistenza di Brescia sotto l’occupazione austriaca e il Monumento dedicato ai caduti a seguito dello scoppio della bomba nella piazza il 28 maggio 1974. Si passa vicino al primo Museo lapidario all’aperto d’Italia e si attraversa una bellissima loggetta che conduce alla Piazza Vittoria. Piazza costruita tra il 1929 e il 1932, a seguito dello sventramento dell’antico quartiere medievale delle pescherie. È una piazza di inizio ‘900 con tutti gli edifici più rappresentativi: le poste, l’assicurazione, la banca e ospita anche il primo grattacielo in cemento armato d’Italia.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Visita alle piazze della città" class="btn btn-custom2">Prenota Brescia - Visita alle piazze della città</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata</h5>
            <img src="images/image9.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora</h6>
            <h6>Adatto per: tutti!</h6>
            <h6><strong>Attenzione</strong> é necessaria la prenotazione: per preservare lo splendido stato di conservazione del sito si entra in gruppi contingentati ogni venti minuti. È quindi bene prenotare, anche per la guida (che ha un biglietto gratuito ma va contata) al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
            <h6>Cosa si visita: Il Parco comprende la visita alla cella di un tempio di età Repubblicana perfettamente conservata; il podio e il pavimento del Tempio di età Flavia, la visita alla Vittoria alata, la visita al primigenio Museo Patrio e il teatro.</h6>
            <h6>È necessaria la prenotazione: per preservare lo splendido stato di conservazione del sito si entra in gruppi contingentati ogni venti minuti. È quindi bene prenotare, anche per la guida (che ha un biglietto gratuito ma va contata) al seguente link: </h6>
            
            <div class="accordion mb-3" id="description1b">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1b">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1b" aria-expanded="true" aria-controls="collapse1b">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1b" class="accordion-collapse collapse" aria-labelledby="heading1b" data-bs-parent="#description1b">
                  <div class="accordion-body">
                    <p>Descrizione: un autentico viaggio nel tempo! Si parte proprio da un video che porta indietro nel tempo e, in 4 minuti, illustra l’evoluzione che ha avuto questo luogo che è sempre stato considerato il centro sacro della città, ancor prima dell’arrivo dei romani. Si visita una cella di un tempio di età Repubblicana, davvero un ritrovamento eccezionale per il Nord d’Italia e che dimostra la precocissima romanizzazione della zona. Ci si reca poi nella sala, recentemente ripensata per valorizzare il tesoro che custodisce, che ospita la Vittoria Alata, statua romana del Primo secolo D. C. in bronzo, eretta a simbolo della città. Un’opera di eccezionale bellezza, che provoca indescrivibili emozioni e che ci permette di raccontare l’età Flavia, il culto della Vittoria e di ipotizzare che fosse stata posta proprio per celebrare la battaglia che rese Vespasiano imperatore. Si passa così alla conoscenza del tempio di età imperiale, voluto da Vespasiano e il suo rifacimento e completamento Ottocentesco e Novecentesco. Si conclude con la visita al teatro, in gran parte tornato alla luce grazie alla campagna di scavi attuata nel 2023.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata" class="btn btn-custom2">Prenota Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent1">
            <h5>Brescia - Visita al Museo di Santa Giulia</h5>
            <h6>Durata: 1 ora e mezza, 2 ore</h6>
            <h6>Adatto per: tutti!</h6>
            <h6><strong>Attenzione</strong> é consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
            <h6>Cosa si visita: i reperti più significativi contenuti nel Museo della città. Imprescindibili: i bronzi, le Domus dell’Ortaglia, La chiesa di San Salvatore e la sua cripta, il Coro delle Monache e Santa Maria in Solario</h6>
            <h6>  necessaria la prenotazione necessaria la prenotazione per gruppi ed è consigliata per i singoli al seguente link: </h6>
            
            <div class="accordion mb-3" id="description1c">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1c">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1c" aria-expanded="true" aria-controls="collapse1c">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse1c" class="accordion-collapse collapse" aria-labelledby="heading1c" data-bs-parent="#description1c">
                  <div class="accordion-body">
                    <p>Descrizione: normalmente quando si pensa un museo si visualizza un contenitore di opere uniche, belle, importanti. Il nostro è molto di più: è un Monastero voluto dalla moglie dell’ultimo Re Longobardo, Desiderio, nell’VIII secolo. E si è conservato come monastero nel tempo, ampliandosi per esempio di un sacello del XII secolo, Santa Maria in Solario, che oggi ospita il tesoro del Monastero e, a fine Quattrocento, di un Coro per le Monache dipinto negli anni Trenta del secolo successivo. Indagando nell’orto delle monache, si sono trovate delle domus romane molto ben conservate anche per quanto riguarda gli alzati. Il Museo di Santa Giulia fa parte dei beni Unesco, si estende su oltre 14:000 mq e presenta 12.000 opere dalla preistoria all’età rinascimentale.</p>
                  </div>
                </div>
              </div>  
            </div>
            Prenota Brescia - Visita al Parco Archeologico di Brixia e Vittoria Alata
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Visita al Museo di Santa Giulia" class="btn btn-custom2">Prenota Brescia - Visita al Museo di Santa Giulia</a>
        </div> <!-- /content row -->
        
      </div> <!-- /col-10 -->
    
    </div> <!-- /Itinerary row -->

    <div class="row"> <!-- Itinerary row -->
      <div class="col-10 d-grid gap-2 mx-auto">
        <button class="btn btn-large btn-custom my-2" type="button" data-bs-toggle="collapse" data-bs-target=".collapseContent2" aria-controls="collapseContent2">
          <h3 class="smallFont">Brescia, itinerari storici</h3>
          <h3 class="smallFont">Approfondimenti per tutti i gusti e di tutte le epoche</h3>
        </button>
        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerari romani</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 1/2 - 2 ore</h6>
            <h6>Adatto per: appassionati di arte romana, chi è interessato ad approfondire l’evoluzione dell’arte nel momento del contatto tra le popolazioni celtiche e i romani e vuole capire come vivevano, com’era Brixia.</h6>
            <h6><strong>Attenzione</strong> è necessaria la prenotazione se si vuole visitare il Parco archeologico di Brixia giacché, per preservare lo splendido stato di conservazione del sito, si entra in gruppi contingentati ogni venti minuti. È quindi bene prenotare, anche per la guida (che ha un biglietto gratuito ma va contata) al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
            <h6>La visita guidata può comprendere: opzione 1- il Parco archeologico di Brixia (con la visita alla cella di un tempio di età Repubblicana perfettamente conservata; la visita alla Vittoria alata, la visita al primigenio Museo Patrio); opzione 2- può svolgersi  anche solo in esterno senza l’acquisto di un biglietto e, in questo caso, si visitano il pronao, il frontone e il teatro del Parco archeologico di Brixia, la colonna del foro romano, la basilica, un cardo ed eventualmente lacerti delle terme romane; opzione 3- La sezione romana del Museo di Santa Giulia.</h6>
            <h6>Monumenti in esterno: Parco Archeologico dell’antica Brixia che comprende il podio del Tempio di età Imperiale e  il Teatro (nei giorni e gli orari in cui il museo è aperto, la visita a questi spazi è libera e gratuita),  la colonna rimasta dell’antico Foro (e, se si ha tempo, la Basilica); Il Broletto e il Duomo Vecchio (coerentemente con gli orari di apertura della chiesa si visita l’interno) e il Duomo Nuovo; Il Palazzo della Loggia, Il Monte di Pietà, Le carceri, Il Monumento alla Bella Italia, L’orologio e il Monumento ai caduti di Piazza della Loggia; Piazza della Vittoria con panoramica d’insieme.</h6>

            <div class="accordion mb-3" id="description2a">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2a">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2a" aria-expanded="true" aria-controls="collapse2a">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse2a" class="accordion-collapse collapse" aria-labelledby="heading2a" data-bs-parent="#description2a">
                  <div class="accordion-body">
                    <p>Brixia, capitale della Gallia Cisalpina, decide di entrare molto presto nell’orbita romana e, a differenza di altre tribù celtiche, si romanizza precocemente. Questo comporta la possibilità di visitare affreschi già del periodo repubblicano e di seguirne poi l’evoluzione nel tempo. In special modo sono visibili mosaici davvero ben conservati che mostrano anche le capacità tecniche delle maestranze locali; è possibile comprendere bene le strutture abitative dei cittadini più ricchi, le domus, grazie anche alla buona conservazione degli alzati e l’ottima conservazione dei pavimenti. È inoltre possibile vedere il sistema di riscaldamento attivo nella città romana, l’ipocausto, e la divisione degli ambienti e i loro usi.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari romani" class="btn btn-custom2">Prenota Brescia - Itinerari romani</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerari alto medievali</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora</h6>
            <h6>Adatto per: appassionati di arte longobarda, per chi vuole scoprire meglio le nostre origini.</h6>
            <h6><strong>Attenzione</strong> é consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
            <h6>Cosa si visita: La visita guidata può comprendere: La visita guidata si svolge all’interno della sezione longobarda del Museo di Santa Giulia</h6>

            <div class="accordion mb-3" id="description2b">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2b">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2b" aria-expanded="true" aria-controls="collapse2b">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse2b" class="accordion-collapse collapse" aria-labelledby="heading2b" data-bs-parent="#description2b">
                  <div class="accordion-body">
                    <p>Partendo dalle tombe, si approfondirà l’origine della popolazione longobarda. Si ripercorrerà il viaggio iniziato in Scania, il passaggio per la Pannonia e il momento del varco delle Alpi Giulie; attraverso gli oggetti del corredo si analizzeranno i loro usi e costumi. Si passerà poi alla conoscenza dei manufatti metallici e delle scritte incise sulle lastre. In ultimo, si entrerà nell’incredibile chiesa di San Salvatore. Si comprenderà la sua evoluzione, il senso per cui è stata costruita e tutti gli apparati decorativi di cui era composta. Anche se carolingia, si consiglia la visita della Croce detta di Desiderio.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari alto medievali" class="btn btn-custom2">Prenota Brescia - Itinerari alto medievali</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerari basso medievali</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora</h6>
            <h6>Adatto per: per chi vuole saperne di più sul Medioevo a Brescia</h6>
            <h6>Cosa si visita: La visita guidata si svolge in esterno per la città. Santa Maria in Solario, la Torre d’Ercole, San Marco, Il Broletto, il Duomo Vecchio e San Faustino in Riposo.</h6>

            <div class="accordion mb-3" id="description2c">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2c">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2c" aria-expanded="true" aria-controls="collapse2c">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse2c" class="accordion-collapse collapse" aria-labelledby="heading2c" data-bs-parent="#description2c">
                  <div class="accordion-body">
                    <p>la visita inizia da Piazza Tebaldo Brusato che esemplifica il concetto di piazza nell’Età Media e delle mura;  si prosegue con il concetto di monastero, esemplificato dalla visione di  Santa Maria in Solario, sacello appartenente al Monastero di Santa Giulia e dalla ricostruzione dei suoi ambiti (i chiostri, lo xenodochio) per poi passare per la Torre d’Ercole  e quindi soffermarsi sulla struttura della casa medievale (due esempi in via Carlo Cattaneo) e approdare in Piazza Paolo VI dove si approfondiranno il ruolo del Broletto e dell’antica cattedrale dedicata a Santa Maria Maggiore (Duomo Vecchio). Immancabile la scoperta della chiesa di San Faustino in Riposo in esterno con la sua suggestiva copertura. (per chi ha 40 minuti in più visita alla Chiesa di San Francesco).</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerari basso medievali" class="btn btn-custom2">Prenota Brescia - Itinerari basso medievali</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerario Rinascimentale</h5>
            <h6>Under Construction</h6>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerario Barocco</h5>
            <h6>Under Construction</h6>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerario Settecentesco</h5>
            <h6>Under Construction</h6>
        </div> <!-- /content row -->
                        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerario Risorgimentale</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 1 ora e 45 minuti</h6>
            <h6>Adatto per: per chi vuole saperne di più sul Risorgimento a Brescia</h6>
            <h6><strong>Attenzione</strong> é consigliata la prenotazione per il Museo ed è necessaria se si è in gruppo al seguente link: <a class="link-opacity-100" href="https://www.ticketlandia.com/m/fondazione-brescia-musei">Ticket Fondazione Brescia Musei</a></h6>
            <h6>Cosa si visita: Il Museo del Risorgimento detto “La Leonessa d’Italia”.</h6>

            <div class="accordion mb-3" id="description2g">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2g">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2g" aria-expanded="true" aria-controls="collapse2g">
                    Descrizione: 
                  </button>
                </h2>
                <div id="collapse2g" class="accordion-collapse collapse" aria-labelledby="heading2g" data-bs-parent="#description2g">
                  <div class="accordion-body">
                    <p>il Risorgimento spiegato in maniera chiara cercando di entrare il più possibile nelle emozioni di chi viveva in quel momento.</p>
                  </div>
                </div>
              </div>  
            </div>
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario Risorgimentale" class="btn btn-custom2">Prenota Brescia - Itinerario Risorgimentale</a>
        </div> <!-- /content row -->

        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerario Settecentesco</h5>
            <h6>Under Construction</h6>
        </div> <!-- /content row -->
                        
        <!-- content row -->
        <div class="row collapse my-5 collapseContent2">
            <h5>Brescia - Itinerari sui luoghi della Repubblica Sociale Italiana e della Resistenza</h5>
            <img src="images/image10.jpg" class="img-fluid" alt="...">
            <h6>Durata: 2 ore circa</h6>
            <h6>Adatto per: tutti!</h6>
            <h6>1- Cosa si visita: Itinerario generale che accompagna tra i luoghi dove si nascondevano i partigiani, tra i luoghi del potere repubblichino e nei luoghi di tortura, tra i luoghi in cui si possono raccontare gli episodi salienti in cui si è fatta la storia e dove sono nati i movimenti di resistenza.</h6>
            <h6>2- Cosa si visita: Itinerario sui luoghi del potere della Repubblica sociale Italiana. I luoghi di repressione, di tortura, di spionaggio, di potere attraverso gli episodi e i personaggi salienti.</h6>
            <h6>3- Cosa si visita: Itinerario sui luoghi dei partigiani: i nascondigli, i partiti, i ciclostilati, le repressioni, gli aiuti narrati attraverso gli episodi e i personaggi salienti.</h6>
            <h6>4- Cosa si visita: Itinerario sui luoghi degli eccidi: gli ebrei e la deportazione il tribunale, La Loggetta, l’Ufi narrati attraverso gli episodi e i personaggi salienti.</h6>
            <h6>5- Cosa si visita: Itinerario sui luoghi delle donne della Resistenza.</h6>
            
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Prenota Brescia - Itinerario sui luoghi della RSI e della Resistenza" class="btn btn-custom2">Prenota Brescia - Itinerario sui luoghi della RSI e della Resistenza</a>
        </div> <!-- /content row -->


      </div> <!-- /col-10 -->
      
    </div> <!-- /Itinerary row -->

  
  </div> <!-- /main col -->
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
