<!-- views/regalavisita.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Regala una visita</h1>
    <br>
      <h3 class="smallFont">Un regalo inedito confezionato su misura per il festeggiato o la festeggiata?</h3>
      <h3 class="smallFont">Consulta qui i miei itinerari:</h3>
               
        <p class="btn-group-vertical">
            <a href="/itinerariclassici" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>classici</strong></a>
            <a href="/itinerarididattici" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>didattici</strong></a>
            <a href="/itineraritema" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>a tema</strong></a>
            <a href="/itineraristorici" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>storici</strong></a>
            <a href="/itinerarilaghi" class="btn btn-lg btn-custom p-3" role="button">gli itinerari <strong>dei laghi</strong></a>
        </p>
        <br>
        <h3 class="smallFont">O se hai in mente qualcosa di particolare contattami direttamente</h3>
        <h3 class="smallFont">Sarà un piacere sviluppare un itinerario dedicato per l'occasione</h3>
          <p class="btn">
            <a href="mailto:lamiaguidadibrescia@proton.me?subject=Contattami per regalare una visita" class="btn btn btn-lg btn-custom2">Contattami per regalare una visita</a>
        </p>
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
