<!-- views/regalavisita.ejs -->

<%- include('partials/head'); %>
<title>Regala una visita - Maddalena Carnaghi - La mia guida di Brescia</title>
<%- include('partials/favicon'); %>
</head>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<!-- Main row -->
<div class="row my-5 justify-content-center">
  <div class="col">
    <h1 class="homeTitle">Regala una visita</h1>
    <br>
      <h3 class="smallFont azzurrino"><strong>Regalate un buono per le mie visite guidate</strong></h3>
      <h3 class="smallFont">Il buono minimo corrisponde alla partecipazione a due tour  ovvero 16 (8 euro + 8 euro) ma si può regalare anche un tour in esclusiva..parliamone!</h3>
      <br><br>
      <h3 class="smallFont azzurrino"><strong>Scegliete l’itinerario ed è fatta</strong></h3>
      <h3 class="smallFont">Cliccate sul link di seguito e scegliete il tour che più preferite e poi ci sentiamo e prepariamo un regalo ad hoc per la persona cara!</h3>
        <p class="btn-group-vertical">
            <a href="/itinerariclassici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>classici</strong></a>
            <a href="/itinerarididattici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>didattici</strong></a>
            <a href="/itineraritema" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>a tema</strong></a>
            <a href="/itineraristorici" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>storici</strong></a>
            <a href="/itinerarilaghi" class="btn btn-lg btn-custom px-5" role="button">gli itinerari <strong>dei laghi</strong></a>
        </p>      
      <h3 class="smallFont">Se non avete le idee ben chiare, non vi preoccupate! Scrivetemi una mail raccontandomi quali sono i vostri desideri e vi aiuterò a trovare il regalo perfetto per l’occasione.</h3>
      <br><br>
      <h3 class="smallFont">I buoni non hanno scadenza anche se meglio non far passare decenni!</h3>
      <p class="btn">
          <a href="mailto:lamiaguidadibrescia@proton.me?subject=Contattami per regalare una visita" class="btn btn btn-lg btn-custom2">Contattami per regalare una visita</a>
      </p>
  </div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
