<!-- views/regalavisita.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<div class="row pt-3 pb-5">
  <div class="col"></div>
  
  <div class="col-sm-10">
    <h1 class="homeTitle">Regala una visita</h1>
    <br>
      <h3>Mi chiamo Maddalena...</h3>
      <p class="lead">Here at Entertainment Videogames InternationaL we aim to bring fun and joy to every household with our games, we hope you''ll have a good time!</p>
      
      <br>
      
      <p class="lead">
        <a href="/login" class="btn btn-lg btn-custom">Go to Protected Area</a>
      </p>
  </div>
  
  <div class="col"></div>
</div>


<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
